<h2 class="title is-5">Change password</h2>

<form [formGroup]="form">
    <div class="field">
        <div class="control">
            <label for="input-old-password">Old password</label>
            <input id="input-old-password" type="password" class="input"
                [formControl]="form.controls.oldPassword"
                [class.is-danger]="!!invalidFeedback.oldPassword">
        </div>
        <div class="message is-danger input-feedback" *ngIf="invalidFeedback.oldPassword">
            <p class="message-body">
                {{invalidFeedback.oldPassword}}
            </p>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label for="input-new-password-1">New password</label>
            <input id="input-new-password-1" type="password" class="input"
                [formControl]="form.controls.newPassword1"
                [class.is-danger]="!!invalidFeedback.newPassword1">
        </div>
        <div class="message is-danger input-feedback" *ngIf="invalidFeedback.newPassword1">
            <p class="message-body">
                {{invalidFeedback.newPassword1}}
            </p>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label for="input-new-password-2">Repeat new password</label>
            <input id="input-new-password-2" type="password" class="input"
                [formControl]="form.controls.newPassword2"
                [class.is-danger]="!!invalidFeedback.newPassword2">
        </div>
        <div class="message is-danger input-feedback" *ngIf="invalidFeedback.newPassword2">
            <p class="message-body">
                {{invalidFeedback.newPassword2}}
            </p>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button type="submit" class="button is-primary" (click)="submit()">
                <span class="icon">
                    <fa-icon [icon]="formIcons.confirm" />
                </span>
                <span>
                    Save new password
                </span>
            </button>
        </div>
    </div>
    <div class="message is-success" *ngIf="successFeedback">
        <p class="message-body">
            {{successFeedback}}
        </p>
    </div>
</form>
