<nav class="pagination" role="navigation" aria-label="pagination">
    <button class="pagination-previous" aria-label="Previous page" (click)="currentPage===1 ? false : loadResults(currentPage-1)" [attr.disabled]="currentPage===1? '' : null"><</button>
    <button class="pagination-next" aria-label="Next page" (click)="currentPage===totalPages ? false :loadResults(currentPage+1)" [attr.disabled]="currentPage===totalPages? '' : null">></button>
    <ul class="pagination-list">
        <li *ngIf="currentPages[0]>1">
            <button class="pagination-link" (click)="loadResults(1)" aria-label="Goto page 1">1</button>
        </li>
        <li *ngIf="currentPages[0]>2">
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li *ngFor="let page of currentPages">
            <button iaToggleButton [active]="currentPage===page"
                activeClass="is-current" class="pagination-link"
                (click)="loadResults(page)">{{page}}
            </button>
        </li>
        <li *ngIf="currentPages[2]<totalPages-1">
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li *ngIf="currentPages[2]<totalPages">
            <button class="pagination-link" aria-label="Goto last page" (click)="loadResults(totalPages)">{{totalPages}}</button>
        </li>
    </ul>
</nav>
