<nav class="pagination" role="navigation" aria-label="pagination">
    <button class="pagination-previous" aria-label="Previous page" (click)="currentPage==1 ? false : loadResults(currentPage-1)" [attr.disabled]="currentPage==1? '' : null"><</button>
    <button class="pagination-next" aria-label="Next page" (click)="currentPage==totalPages ? false :loadResults(currentPage+1)" [attr.disabled]="currentPage==totalPages? '' : null">></button>
    <ul class="pagination-list">
        <li *ngIf="currentPages[0]>1">
            <button class="pagination-link" (click)="loadResults(1)" aria-label="Goto page 1">1</button>
        </li>
        <li *ngIf="currentPages[0]>2">
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
            <button [ngClass]="{'is-current': currentPage==currentPages[0]}" class="pagination-link" (click)="loadResults(currentPages[0])">{{currentPages[0]}}</button>
        </li>
        <li>
            <button [ngClass]="{'is-current': currentPage==currentPages[1]}" class="pagination-link" (click)="loadResults(currentPages[1])">{{currentPages[1]}}</button>
        </li>
        <li *ngIf="totalResults>resultsPerPage*2">
            <button [ngClass]="{'is-current': currentPage==currentPages[2]}" class="pagination-link" (click)="loadResults(currentPages[2])">{{currentPages[2]}}</button>
        </li>
        <li *ngIf="currentPages[2]<totalPages-1">
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li *ngIf="currentPages[2]<totalPages">
            <button class="pagination-link" aria-label="Goto last page" (click)="loadResults(totalPages)">{{totalPages}}</button>
        </li>
    </ul>
</nav>
