<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Times</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript"><!--

var AUTOCOMPLETE = {{ autocomplete|tojson }};

$(function(){

    $("#query").width("100%");
    
    $(".tabs").each(function(){
        $(this).tabs();
    });

    $(".daterange").each(function(){
        
        var $alt = $(this).find("input"),
            $from = $(this).find(".from"),
            $to = $(this).find(".to");
            
        var formatString = "yy-mm-dd",
            current = $alt.val().split(":"),
            start = $.datepicker.parseDate(formatString, current[0]),
            end = $.datepicker.parseDate(formatString, current[1]),
            lower = $.datepicker.parseDate(formatString, $alt.data("lower")),
            upper = $.datepicker.parseDate(formatString, $alt.data("upper"));
        
        var format = function(date){
            return (
                date.getFullYear()
                + "-" + (date.getMonth()+1)
                + "-" + date.getDate()
            );
        }, update = function(){
            $alt.val(
                format($from.datepicker("getDate"))
                + ":" +
                format($to.datepicker("getDate"))
            );
        };
            
        var base = {
            autoSize: false,
            dateFormat: formatString,
            minDate: lower,
            maxDate: upper,
            changeMonth: true,
            changeYear: true,
            yearRange: lower.getFullYear() + ":" + upper.getFullYear()
        };

        $from.datepicker($.extend({defaultDate: start}, base)).change(update);
        $to.datepicker($.extend({defaultDate: end}, base)).change(update);
    });


    $(".range").each(function(){
        var $slider = $(this).find(".slider"), $alt = $(this).find("input");
        var update = function(){
            $alt.val(
                $slider.slider("values", 0) + ":" + $slider.slider("values", 1)
            );
        };
        
        var current = $alt.val().split(":");
        $slider.slider({
            range: true,
            min: parseFloat($alt.data("lower")),
            max: parseFloat($alt.data("upper")),
            values: [parseFloat(current[0]), parseFloat(current[1])],
            slide: update,
            stop: update
        });
        update();
    });
    
    
    $("button#submit").each(function(){
        var $button = $(this);
        $button.button({
            icon: "ui-icon-arrowthick-1-s"
        }).click(function(){
            $button.parents('form:first').submit();
        }).css({
            width: '100%',
            marginTop: '5px'
        });
        $button.find("input").hide();
    });


    function split(string) {
        return string.split(/\s+/);
    }
    function extractLast(term) {
        return split(term).pop();
    }

    $("#query").on( "keydown", function(event){
        if(event.keyCode === $.ui.keyCode.TAB && $(this).autocomplete("instance").menu.active)
            event.preventDefault();
    }).autocomplete({
        minLength: 0,
        source: function(request, response){
            response($.ui.autocomplete.filter(AUTOCOMPLETE, extractLast(request.term)));
        },
        focus: function(){
            return false;
        },
        select: function(event, ui) {    
            var terms = split(this.value);
            terms.pop();
            terms.push(ui.item.value);
            if(!ui.item.value.slice(-1) == ":")
                terms.push("");
            this.value = terms.join(" ");
            return false;
        }
    });

    $(".mc input").each(function(){
        $(this).checkboxradio({icon:false});
    });
    
    
    var $filters = $("#tab-search .lbl input[type=checkbox]"),
        control_filter = function(){
            var $this = $(this), checked = $this.prop("checked");
            if(checked)
                $this.closest("td").next().fadeTo('medium', 1);
            else
                $this.closest("td").next().fadeTo('medium', 0.3);
        };
    $filters.each(control_filter).click(control_filter);

});

//-->
</script>
<style>
table {
    border-collapse: true;
    border: none;
}
td {
    vertical-align: top;
}
td.lbl {
    padding: 0 1em;
    font-size: 0.7em;
}
td.lbl span {
    font-weight: bold;
    white-space: nowrap;
    display: block;
    font-size:1.2em;
}
.slider {
    margin: 1em 0;
}
.daterange div {
    display: inline-block;
}
.daterange div div {
    display: block;
}
</style>
</head>

<body>
<form method="post" action="{{ url_for('blueprint.stream_csv') }}">

<div class="tabs">
    <ul>
        <li><a href="#tab-search">Search</a></li>
        <li><a href="#tab-column">Columns</a></li>
    </ul>
    <div id="tab-search">

        <table>
        <tr>
            <td class="lbl"><span>Query</span></td>
            <td><input id="query" name="query" type="text"></td>
        </tr>
               
        {%- for field in fields %}
        {%- if field.sieve %}
        <tr>
            <td class="lbl">
                <span>
                    <input name="sieve:{{ field.name }}?" id="sieve:{{ field.name }}?" type="checkbox" checked>
                    <label for="sieve:{{ field.name }}?">Filter ({{ field.name }})</label>
                </span>
                {{ field.sieve.description }}
            </td>
        {%- if field.sieve_class == 'DateFilter' %}
            <td>
                <div class="daterange">
                    <div class="from"></div>
                    <div class="to"></div>
                    <input type="text" hidden
                        name="sieve:{{ field.name }}"
                        value="{{ field.sieve.lower.strftime('%Y-%m-%d') }}:{{ field.sieve.upper.strftime('%Y-%m-%d') }}"
                        data-lower="{{ field.sieve.lower.strftime('%Y-%m-%d') }}"
                        data-upper="{{ field.sieve.upper.strftime('%Y-%m-%d') }}">
                </div>
            </td>
        {%- endif %}
        {%- if field.sieve_class == 'RangeFilter' %}
            <td>
            <div class="range">
                <div class="slider"></div>
                <input type="text" readonly style="border:0"
                    name="sieve:{{ field.name }}"
                    value="{{ field.sieve.lower }}:{{ field.sieve.upper }}"
                    data-lower="{{ field.sieve.lower }}"
                    data-upper="{{ field.sieve.upper }}">
            </div>
            </td>
        {%- endif %}
        {%- if field.sieve_class == 'MultipleChoiceFilter' %}
            <td>
            <div class="mc">
                {%- for option in field.sieve.options %}
                <input type="checkbox" name="sieve:{{ field.name }}:{{ option }}" id="sieve:{{ field.name }}:{{ option }}" checked>
                <label for="sieve:{{ field.name }}:{{ option }}">{{ option }}</label>
                {%- endfor %}
            </div>
            </td>
        {%- endif %}
        </tr>
        {%- endif %}
        {%- endfor %}
        </table>
    </div>
    <div id="tab-column">
        <p>Please select the columns that are to appear in your <code>csv</code> file.</p>

        <table>
        <tbody>
        {%- set columns=2 %}
        {%- for i in range(0, fields|length, columns) %}
            <tr>
            {%- for field in fields[i:i+columns] %}
                <td class="lbl"><span><input type="checkbox" name="field:{{ field.name }}" checked> {{ field.name }}</span></td>
                <td>{{ field.description if field.description else "No description." }}</td>
            {%- endfor %}
            </tr>
        {%- endfor %}
        </tbody></table>
    </div>
</div>
<button id="submit">Download<input type="submit" value="Download"></button>
</form>
</body>
</html>
