<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ corpus.capitalize() }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript">
<!--

var AUTOCOMPLETE = {{ autocomplete|tojson }},
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }},
    $CORPUS_ROOT = {{ (request.script_root + "/" + corpus)|tojson|safe }},
    DOWNLOAD_LIMIT = {{ current_user.download_limit }};

-->
</script>
<script type="text/javascript" src="{{ url_for('static', filename='search.css') }}"></script>
</head>

<body>

<div id="flashes" class="ui-widget">
    {%- for message in get_flashed_messages() %}
    <div class="ui-state-highlight ui-corner-all">
        <p><span class="ui-icon ui-icon-info"></span>
        {{ message }}</p>
    </div>
    {%- endfor %}
</div>
    
<form method="post" action="{{ url_for('blueprint.search_csv', corpusname=corpus) }}">

<div class="top_buttons">
    <span style="padding-right:1em">logged in as {{ current_user.username }}</span>
    {% if current_user.has_role('admin') %}<a id="admin" href="{{ url_for('admin.index') }}">administrator</a>{% endif %}
    <a id="logout" href="{{ url_for('admin.logout') }}">exit</a>
</div>

<div class="tabs">
    <ul>
        <li><a href="#tab-search">Search</a></li>
        <li><a href="#tab-column">Columns</a></li>
    </ul>
    <div id="tab-search">

        <table>
        <tr>
            <td class="lbl"><span>Query</span></td>
            <td><input id="query" name="query" type="text"></td>
        </tr>
               
        {%- for field in fields %}
        {%- if field.filter_ %}
        <tr>
            <td class="lbl">
                <span>
                    <input name="filter:{{ field.name }}?" id="filter:{{ field.name }}?" type="checkbox">
                    <label for="filter:{{ field.name }}?">Filter ({{ field.name }})</label>
                </span>
                {{ field.filter_.description }}
            </td>
        {%- if field.filterclass == 'DateFilter' %}
            <td>
                <div class="daterange">
                    <div class="from"></div>
                    <div class="to"></div>
                    <input type="text" hidden
                        name="filter:{{ field.name }}"
                        value="{{ field.filter_.lower.strftime('%Y-%m-%d') }}:{{ field.filter_.upper.strftime('%Y-%m-%d') }}"
                        data-lower="{{ field.filter_.lower.strftime('%Y-%m-%d') }}"
                        data-upper="{{ field.filter_.upper.strftime('%Y-%m-%d') }}">
                </div>
            </td>
        {%- endif %}
        {%- if field.filterclass == 'RangeFilter' %}
            <td>
            <div class="range">
                <div class="slider"></div>
                <input type="text" readonly style="border:0"
                    name="filter:{{ field.name }}"
                    value="{{ field.filter_.lower }}:{{ field.filter_.upper }}"
                    data-lower="{{ field.filter_.lower }}"
                    data-upper="{{ field.filter_.upper }}">
            </div>
            </td>
        {%- endif %}
        {%- if field.filterclass == 'MultipleChoiceFilter' %}
            <td>
            <div class="mc">
                {%- for option in field.filter_.options %}
                <input type="checkbox" name="filter:{{ field.name }}:{{ option }}" id="filter:{{ field.name }}:{{ option }}">
                <label for="filter:{{ field.name }}:{{ option }}" style="margin-top:2px;margin-bottom:2px;margin-right:-1px">{{ option }}</label>
                {%- endfor %}
            </div>
            </td>
        {%- endif %}
        {%- if field.filterclass == 'BooleanFilter' %}
            <td>
            <div class="select">
                <select name="filter:{{ field.name }}">
                    <option value="1">{{ field.filter_.true }}</option>
                    <option value="">{{ field.filter_.false }}</option>
                </select>
            </div>
            </td>
        {%- endif %}
        </tr>
        {%- endif %}
        {%- endfor %}
        </table>
    </div>
    <div id="tab-column">
        <p>Please select the columns that are to appear in your <code>csv</code> file.</p>

        <table>
        <tbody>
        {%- set columns=2 %}
        {%- for i in range(0, fields|length, columns) %}
            <tr>
            {%- for field in fields[i:i+columns] %}
                <td class="lbl"><span><input type="checkbox" name="field:{{ field.name }}" checked> {{ field.name }}</span></td>
                <td>{{ field.description if field.description else "---" }}</td>
            {%- endfor %}
            </tr>
        {%- endfor %}
        </tbody></table>
    </div>
</div>

<input type="submit" value="Download" id="download_fallback">
</form>

<button id="search">Search</button>
<div id="search_dialog" title="Search">
</div>
</body>
</html>
