<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ corpus.capitalize() }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript"><!--

var AUTOCOMPLETE = {{ autocomplete|tojson }},
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }},
    $CORPUS_ROOT = {{ (request.script_root + "/" + corpus)|tojson|safe }};

$(function(){

    $("#query").width("100%");
    
    $(".tabs").each(function(){
        $(this).tabs();
    });

    $(".daterange").each(function(){
        
        var $alt = $(this).find("input"),
            $from = $(this).find(".from"),
            $to = $(this).find(".to");
            
        var formatString = "yy-mm-dd",
            current = $alt.val().split(":"),
            start = $.datepicker.parseDate(formatString, current[0]),
            end = $.datepicker.parseDate(formatString, current[1]),
            lower = $.datepicker.parseDate(formatString, $alt.data("lower")),
            upper = $.datepicker.parseDate(formatString, $alt.data("upper"));
        
        var format = function(date){
            return (
                date.getFullYear()
                + "-" + (date.getMonth()+1)
                + "-" + date.getDate()
            );
        }, update = function(){
            $alt.val(
                format($from.datepicker("getDate"))
                + ":" +
                format($to.datepicker("getDate"))
            );
        };
            
        var base = {
            autoSize: false,
            dateFormat: formatString,
            minDate: lower,
            maxDate: upper,
            changeMonth: true,
            changeYear: true,
            yearRange: lower.getFullYear() + ":" + upper.getFullYear()
        };

        $from.datepicker($.extend({defaultDate: start}, base)).change(update);
        $to.datepicker($.extend({defaultDate: end}, base)).change(update);
    });


    $(".range").each(function(){
        var $slider = $(this).find(".slider"), $alt = $(this).find("input");
        var update = function(){
            $alt.val(
                $slider.slider("values", 0) + ":" + $slider.slider("values", 1)
            );
        };
        
        var current = $alt.val().split(":");
        $slider.slider({
            range: true,
            min: parseFloat($alt.data("lower")),
            max: parseFloat($alt.data("upper")),
            values: [parseFloat(current[0]), parseFloat(current[1])],
            slide: update,
            stop: update
        });
        update();
    });
    
    $(".mc input").each(function(){
        $(this).checkboxradio({icon:false});
    });

    $(".select select").each(function(){
        $(this).selectmenu();
    });


    /* Autocomplete */
    function split(string) {
        return string.split(/\s+/);
    }
    function extractLast(term) {
        return split(term).pop();
    }

    $("#query").on( "keydown", function(event){
        if(event.keyCode === $.ui.keyCode.TAB && $(this).autocomplete("instance").menu.active)
            event.preventDefault();
    }).autocomplete({
        minLength: 0,
        source: function(request, response){
            response($.ui.autocomplete.filter(AUTOCOMPLETE, extractLast(request.term)));
        },
        focus: function(){
            return false;
        },
        select: function(event, ui) {    
            var terms = split(this.value);
            terms.pop();
            terms.push(ui.item.value);
            if(!ui.item.value.slice(-1) == ":")
                terms.push("");
            this.value = terms.join(" ");
            return false;
        }
    });

    /* Filter hiding */
    
    var $filters = $("#tab-search .lbl input[type=checkbox]"),
        control_filter = function(){
            var $this = $(this), checked = $this.prop("checked");
            if(checked)
                $this.closest("td").next().fadeTo('medium', 1);
            else
                $this.closest("td").next().fadeTo('medium', 0.3);
        };
    $filters.each(control_filter).change(control_filter);


    $("button#submit").each(function(){
        var $button = $(this);
        $button.button({
            icon: "ui-icon-arrowthick-1-s"
        }).click(function(){
            $button.parents('form:first').submit();
        }).css({
            width: '100%',
            marginTop: '5px'
        });
        
    });

    $("input#download_fallback").hide();

    $(".top_buttons #admin").button({
        icon: "ui-icon-person",
        iconPosition: "end"
    });
    $(".top_buttons #logout").button({
        icon: "ui-icon-close",
        iconPosition: "end"
    });
    $(".top_buttons").css({
        float: 'right',
        marginBottom: -$(".top_buttons").outerHeight(),
        zIndex: '999',
        position: 'relative',
        top: '8px',
        right: '7px'
    });

    /* Search dialog */
    var $search_dialog = $("#search_dialog");
    $("#search").button({
        icon: "ui-icon-search"
    }).css({
        width: '100%',
        marginTop: '5px'
    }).click(function(){        
        $search_dialog.dialog("open");
    });
    $search_dialog.dialog({
        autoOpen: false,
        modal: true,
        width: 600,
        title: "Search",
        close: function(event, ui){
        },
        open: function(event, ui){
            $search_dialog.dialog("option", { buttons: [] });
            $search_dialog.text("Searching...");
            
            var post = {}, $form = $('form'), formdata = $form.serializeArray();
            for(var i = 0; i < formdata.length; i++)
                post[formdata[i].name] = formdata[i].value;
            
            $.post($CORPUS_ROOT + "/search.json", post, function(data){
                console.log(data);
                
                var t = data.table, n = t.length-1;
                
                if(n>0){
                    var table = $("<table/>");
                    
                    for(var row = 0; row < t.length; row++){
                        var tr = $("<tr/>");
                        for(var col = 0; col < t[row].length; col++){
                            var td = $("<td/>");
                            td.text(t[row][col]);
                            tr.append(td);
                        }
                        table.append(tr);
                    }
                    
                    var wrap = $("<div/>");
                    wrap.addClass("wrap");
                    wrap.append(table);
                    
                    $search_dialog.text("Your search resulted in "+(data.total)+" hits. This is a sample of "+(n)+" results:");
                    $search_dialog.append(wrap);
                    $search_dialog.dialog("option", {
                        buttons: [{
                            text: "Download",
                            click: function() {
                                $form.submit();
                                $search_dialog.dialog("close");
                            }
                        },
                        {
                            text: "Cancel",
                            click: function(){
                                $search_dialog.dialog("close");
                            }
                        }]    
                    });
                }
                else {
                    $search_dialog.text("There were no results to your query.");
                    $search_dialog.dialog("option", {
                        buttons: [
                        {
                            text: "OK",
                            click: function(){
                                $search_dialog.dialog("close");
                            }
                        }
                        ]    
                    });

                }
                
            }, "json").fail(function(jqXHR, textStatus, errorThrown) {
                var error = "Server request failed" + (errorThrown ? ", code: " + errorThrown+"." : ".");

                $search_dialog.text(error);
                $search_dialog.dialog("option", {
                    buttons: [
                        {
                            text: "OK",
                            click: function(){
                                $search_dialog.dialog("close");
                            }
                        }
                    ]
                });

            });
        }
    });

    $("#flashes *").delay(1000).fadeOut(500, function(){
        $(this).remove();
    });

});

//-->
</script>
<style>
table {
    border-collapse: true;
    border: none;
}
td {
    vertical-align: top;
}
td.lbl {
    padding: 0 1em;
    font-size: 0.7em;
}
td.lbl span {
    font-weight: bold;
    white-space: nowrap;
    display: block;
    font-size:1.2em;
}
.slider {
    margin: 1em 0;
}
.daterange div {
    display: inline-block;
}
.daterange div div {
    display: block;
}


#search_dialog .wrap {
    overflow: scroll;
    width: 100%;
    height: 500px;
}
#search_dialog table {
    border: 2px solid black;
    padding: 1px;
    border-collapse: collapse;
}
#search_dialog tr:nth-child(even) {background: #fff}
#search_dialog tr:nth-child(odd) {background: #ccc}
#search_dialog table tr td {
    padding: 2px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    max-width: 300px;
}
#search_dialog table tr:first-child td {
    font-weight: bold;
    color: #fff;
    background-color: #000;
}
</style>
</head>

<body>

<div id="flashes" class="ui-widget">
    {%- for message in get_flashed_messages() %}
    <div class="ui-state-highlight ui-corner-all">
        <p><span class="ui-icon ui-icon-info"></span>
        {{ message }}</p>
    </div>
    {%- endfor %}
</div>
    
<form method="post" action="{{ url_for('blueprint.search_csv', corpusname=corpus) }}">

<div class="top_buttons">
    <span style="padding-right:1em">logged in as {{ current_user.username }}</span>
    {% if current_user.privilege('admin') %}<a id="admin" href="{{ url_for('admin.index') }}">administrator</a>{% endif %}
    <a id="logout" href="{{ url_for('admin.logout') }}">exit</a>
</div>

<div class="tabs">
    <ul>
        <li><a href="#tab-search">Search</a></li>
        <li><a href="#tab-column">Columns</a></li>
    </ul>
    <div id="tab-search">

        <table>
        <tr>
            <td class="lbl"><span>Query</span></td>
            <td><input id="query" name="query" type="text"></td>
        </tr>
               
        {%- for field in fields %}
        {%- if field.filter_ %}
        <tr>
            <td class="lbl">
                <span>
                    <input name="filter:{{ field.name }}?" id="filter:{{ field.name }}?" type="checkbox">
                    <label for="filter:{{ field.name }}?">Filter ({{ field.name }})</label>
                </span>
                {{ field.filter_.description }}
            </td>
        {%- if field.filterclass == 'DateFilter' %}
            <td>
                <div class="daterange">
                    <div class="from"></div>
                    <div class="to"></div>
                    <input type="text" hidden
                        name="filter:{{ field.name }}"
                        value="{{ field.filter_.lower.strftime('%Y-%m-%d') }}:{{ field.filter_.upper.strftime('%Y-%m-%d') }}"
                        data-lower="{{ field.filter_.lower.strftime('%Y-%m-%d') }}"
                        data-upper="{{ field.filter_.upper.strftime('%Y-%m-%d') }}">
                </div>
            </td>
        {%- endif %}
        {%- if field.filterclass == 'RangeFilter' %}
            <td>
            <div class="range">
                <div class="slider"></div>
                <input type="text" readonly style="border:0"
                    name="filter:{{ field.name }}"
                    value="{{ field.filter_.lower }}:{{ field.filter_.upper }}"
                    data-lower="{{ field.filter_.lower }}"
                    data-upper="{{ field.filter_.upper }}">
            </div>
            </td>
        {%- endif %}
        {%- if field.filterclass == 'MultipleChoiceFilter' %}
            <td>
            <div class="mc">
                {%- for option in field.filter_.options %}
                <input type="checkbox" name="filter:{{ field.name }}:{{ option }}" id="filter:{{ field.name }}:{{ option }}">
                <label for="filter:{{ field.name }}:{{ option }}" style="margin-top:2px;margin-bottom:2px;margin-right:-1px">{{ option }}</label>
                {%- endfor %}
            </div>
            </td>
        {%- endif %}
        {%- if field.filterclass == 'BooleanFilter' %}
            <td>
            <div class="select">
                <select name="filter:{{ field.name }}">
                    <option value="1">{{ field.filter_.true }}</option>
                    <option value="">{{ field.filter_.false }}</option>
                </select>
            </div>
            </td>
        {%- endif %}
        </tr>
        {%- endif %}
        {%- endfor %}
        </table>
    </div>
    <div id="tab-column">
        <p>Please select the columns that are to appear in your <code>csv</code> file.</p>

        <table>
        <tbody>
        {%- set columns=2 %}
        {%- for i in range(0, fields|length, columns) %}
            <tr>
            {%- for field in fields[i:i+columns] %}
                <td class="lbl"><span><input type="checkbox" name="field:{{ field.name }}" checked> {{ field.name }}</span></td>
                <td>{{ field.description if field.description else "---" }}</td>
            {%- endfor %}
            </tr>
        {%- endfor %}
        </tbody></table>
    </div>
</div>

<input type="submit" value="Download" id="download_fallback">
</form>

<button id="search">Search</button>
<div id="search_dialog" title="Search">
</div>
</body>
</html>
