<div *ngIf="pageIndices.length>1" class="nav-buttons">
    <button id="prevButton" class="button is-small" (click)="prevPage()"
        aria-label="previous page">
        <fa-icon [icon]="scanIcons.prev" aria-hidden="true"></fa-icon>
    </button>
    <ng-container *ngFor="let pageNumber of buttonArray">
        <button class="button is-small" iaToggleButton [active]="pageNumber===page"
            (click)="goToPage(pageNumber)">
            {{pageNumber}}
    </button>
    </ng-container>
    <button id="nextButton" class="button is-small" (click)="nextPage()"
        aria-label="next page">
        <fa-icon [icon]="scanIcons.next" aria-hidden="true"></fa-icon>
    </button>
</div>
