<div class="columns is-desktop">
    <div class="column is-5">
        <div class="box">
            <div class="table-container">
                <table class="table is-fullwidth" *ngIf="document">
                    <tr *ngIf="document.relevance">
                        <th>Relevance</th>
                        <td>
                            <search-relevance [value]="document.relevance"></search-relevance>
                        </td>
                    </tr>
                    <ng-container *ngFor="let field of propertyFields">
                        <tr *ngIf="document.fieldValues[field.name]">
                            <th>{{field.displayName}}</th>
                            <td data-test-field-value [innerHtml]="document.fieldValues[field.name] | highlight:query"></td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>

    <div class="column is-7">
        <div class="box">
        <p-tabView> 
            <p-tabPanel header="" leftIcon="fa fa-book">
                <ng-container *ngFor="let field of contentFields">
                    <div class="content" *ngIf="document.fieldValues[field.name]" [innerHtml]="document.fieldValues[field.name] | highlight:query"></div>
                </ng-container>
            </p-tabPanel>
            <!-- <p-tabPanel header="" leftIcon="fa fa-image" [disabled]="document.fieldValues.image_path==undefined"> -->
            <p-tabPanel header="" leftIcon="fa fa-image" style="width:100%;">
                    <!-- <img *ngIf="document.fieldValues.image_path!=undefined" class="src-img" src="/api/get_source_image/{{corpus.index}}/{{document.fieldValues.image_path}}"/> -->
                    <!-- <img class="src-img" src="/api/get_source_image/{{corpus.index}}/Financials/AA_2007_00978/AA_2007_00978_00001.pdf"/> -->

                    <!-- <pdf-viewer [src]="pdfSrc"
                                [render-text]="true"
                                [original-size]="false"
                                [autoresize]="true"
                                style = "display: block;">
                    </pdf-viewer> -->
                    <img class= "src-image" src="imgSrc">







            </p-tabPanel>
        </p-tabView>
        </div>
    </div>
</div>
