<div class="columns is-desktop">
    <div class="column is-5">
        <div class="box">
            <div class="table-container">
                <table class="table is-fullwidth" *ngIf="document">
                    <tr *ngIf="document.relevance">
                        <th>Relevance</th>
                        <td>
                            <search-relevance [value]="document.relevance"></search-relevance>
                        </td>
                    </tr>
                    <ng-container *ngFor="let field of propertyFields">
                        <tr *ngIf="document.fieldValues[field.name]">
                            <th>{{field.displayName}}</th>
                            <td data-test-field-value [innerHtml]="document.fieldValues[field.name] | highlight:query"></td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>

    <div class="column is-desktop">
        <ng-container *ngFor="let field of contentFields">
            <div class="box" *ngIf="document.fieldValues[field.name]" [innerHtml]="document.fieldValues[field.name] | highlight:query"></div>
        </ng-container>
    </div>
</div>
