<div *ngIf="isLoaded" style="text-align: center;">
    <button class="button is-primary is-small" (click)="prevPage()" [disabled]="page === 1">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
    <button class="button is-primary is-small" (click)="nextPage()" [disabled]="page === totalPages">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
</div>

<pdf-viewer 
    [src]="pdfSrc"
    [render-text]="true"
    [original-size]="false"
    [autoresize]="true"
    [show-all]="false"
    [page]="page"
    (after-load-complete)="afterLoadComplete($event)"
    (text-layer-rendered)="textLayerRendered($event, this.query)"
    style="display:block;">
</pdf-viewer>
