<div *ngIf="isLoaded" style="text-align: center;">
    <div class="field is-grouped">
        <button class="button is-primary is-small" (click)="prevPage()" [disabled]="page === 1">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>

        <a *ngFor="let pageNr of pageArray" (click)=setPage(pageNr) [ngClass]="{'is-inverted': pageNr!=page}" class="button is-small is-primary">
            {{pageNr}}
        </a>

        <button class="button is-primary is-small" (click)="nextPage()" [disabled]="page === totalPages">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
    </div>
</div>

<pdf-viewer 
    [src]="pdfSrc"
    [render-text]="true"
    [original-size]="false"
    [autoresize]="true"
    [show-all]="false"
    [page]="page"
    (after-load-complete)="afterLoadComplete($event)"
    (text-layer-rendered)="textLayerRendered($event, this.query)"
    style="display:block;">
</pdf-viewer>
