<div>
    <div class="field has-addons">
        <div class="control is-expanded">
            <h4 class="title">Filters</h4>
        </div>
        <p class="control" style="float:right">
            <span *ngIf="anyActiveFilters$ | async" class="button icon filter-icon is-primary is-active is-medium is-round"
                (click)="resetAllFilters()" iaBalloon="Reset all filters to their default values"
                iaBalloonPosition="down-left">
                <i class="fa fa-trash"></i>
            </span>
            <span *ngIf="anyNonDefaultFilters$ | async" class="button icon filter-icon is-inverted is-round is-primary is-medium"
                (click)="toggleActiveFilters()"
                iaBalloon="{{(anyActiveFilters$ | async) ? ('Disable active filters') : ('Enable deactivated filters')}}"
                iaBalloonPosition="down-left">
                <i class="fa fa-filter"></i>
            </span>
        </p>
    </div>
    <ng-container *ngFor="let filter of potentialFilters">
        <div class="box filter-container" *ngIf="!filter.adHoc || filter.useAsFilter.value" [ngClass]="{'on': filter.useAsFilter.value}">
            <div class="field has-addons">
                <div class="control is-expanded" iaBalloon="{{ filter.description }}"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    <label class="label" [for]="'filter' + filter.corpusField.name">{{ filter.corpusField.displayName
                        }}</label>
                </div>
                <p class="control">
                    <button *ngIf="(filter.filter.isDefault$ | async) === false" class="button icon filter-icon is-primary is-inverted is-round"
                        (click)="filter.reset()" iaBalloon="Reset this filter to its default values"
                        iaBalloonPosition="down-left">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button *ngIf="(filter.filter.isDefault$ | async) === false"
                        class="button icon filter-icon is-primary is-inverted is-round"
                        [ngClass]="{'is-primary': filter.useAsFilter.value}"
                        (click)="filter.toggle()" iaBalloon="{{filter.useAsFilter.value ? 'Disable this filter' : 'Enable this filter'}}"
                        iaBalloonPosition="down-left">
                        <i class="fa fa-filter"></i>
                    </button>
                </p>
            </div>
            <ng-container *ngIf="filter.adHoc">
                <ia-ad-hoc-filter [filter]="filter"></ia-ad-hoc-filter>
            </ng-container>
            <ng-container *ngIf="!filter.adHoc" [ngSwitch]="filter.filterType">
                <ia-boolean-filter *ngSwitchCase="'BooleanFilter'" [filter]="filter"></ia-boolean-filter>
                <ia-date-filter *ngSwitchCase="'DateFilter'" [filter]="filter"></ia-date-filter>
                <ia-multiple-choice-filter *ngSwitchCase="'MultipleChoiceFilter'" [filter]="filter"></ia-multiple-choice-filter>
                <ia-range-filter *ngSwitchCase="'RangeFilter'" [filter]="filter"></ia-range-filter>
            </ng-container>
        </div>
    </ng-container>
</div>
