
<div class="box filter-container" [ngClass]="{'on': useAsFilter}">
    <div class="field has-addons">
        <div class="control is-expanded" iaBalloon="{{ field.searchFilter.description }}"
            iaBalloonPosition="up-left" iaBalloonLength="fit">
            <label class="label" [for]="'filter' + field.name">{{ field.displayName
                }}</label>
        </div>
        <p class="control">
            <span *ngIf="useAsFilter" class="button icon filter-icon is-primary is-inverted is-round"
                (click)="resetFilter()" iaBalloon="Reset this filter to its default values"
                iaBalloonPosition="down-left">
                <i class="fa fa-trash"></i>
            </span>
            <span class="button icon filter-icon is-primary is-inverted is-round" [ngClass]="{'is-primary': useAsFilter}"
                (click)="toggleFilter()" iaBalloon="{{useAsFilter ? 'Disable this filter' : 'Enable this filter'}}"
                iaBalloonPosition="down-left">
                <i class="fa fa-filter"></i>
            </span>
        </p>
    </div>
    <ng-container *ngIf="filter" [ngSwitch]="filter.defaultData.filterType">
        <ia-boolean-filter *ngSwitchCase="BooleanFilter"></ia-boolean-filter>
        <ia-date-filter *ngSwitchCase="DateFilter"></ia-date-filter>
        <ia-multiple-choice-filter *ngSwitchCase="MultipleChoiceFilter"></ia-multiple-choice-filter>
        <ia-range-filter *ngSwitchCase="RangeFilter"></ia-range-filter>
    </ng-container>
</div>