<div class="level">
    <div class="level-left">
        <div class="level-item">
            <button class="button" (click)="showHelp()">
                <span class="icon">
                    <fa-icon [icon]="faQuestion"></fa-icon>
                </span>
            </button>
        </div>
    </div>
    <div class="level-right" *ngIf="!tableView">
        <div class="level-item" *ngIf="!freqtable">
            <ia-palette-select (paletteChanged)="palette.next($event)"></ia-palette-select>
        </div>
        <div class="level-item" *ngIf="!tableView && chartElementID">
            <button class="button download-button" *ngIf="!freqtable" (click)="onRequestImage()">
                <span class="icon is-small">
                    <i class="fa fa-download"></i>
                </span>
                <span>Download visualization</span>
            </button>
        </div>
    </div>
</div>


