<p-multiSelect styleClass="button" defaultLabel=" 'All fields' "
    [options]="optionFields"
    [(ngModel)]="selectedFields"
    optionLabel="displayName"
    [displaySelectedLabel]="true"
    (onChange)="onUpdate()"
    [ngModelOptions]="{standalone: true}">
    <ng-template pTemplate="selectedItems">
        <fa-icon [icon]="icons.config" aria-label="select field"></fa-icon>
    </ng-template>
    <p-footer *ngIf="optionFields">
        <button class="button is-primary" (click)="toggleAllFields()">
            {{allVisible? 'Show default fields' : 'Show all fields'}}
    </button>
    </p-footer>
</p-multiSelect>
