<p-multiSelect placeholder="All fields"
    [options]="options"
    [(ngModel)]="selected"
    [displaySelectedLabel]="true"
    (onChange)="onUpdate()"
    [ngModelOptions]="{standalone: true}"
    iaBalloon="Limit your search to specific fields"
    iaBalloonLength="medium"
    iaBalloonPosition="up">
    <ng-template #footer>
        <button class="button is-ghost" (click)="toggleAllFields()">
            {{allVisible? 'Show default fields' : 'Show all fields'}}
        </button>
    </ng-template>
</p-multiSelect>
