<div class="field">
    <div class="control">
        <label class="label">Enter one or more terms to compare to "{{queryText}}":</label>
        <ia-term-comparison-editor
            (queriesChanged)="updateComparisonTerms($event)" (clearQueries)="updateComparisonTerms()">
        </ia-term-comparison-editor>
    </div>
</div>

<ia-similarity-chart [timeIntervals]="timeIntervals" [totalData]="data"
    [asTable]="asTable" [palette]="palette" [tableFileName]="tableFileName"></ia-similarity-chart>
