table {
    border-collapse: true;
    border: none;

    td {
        vertical-align: top;

        &.lbl {
            padding: 0 1em;
            font-size: 0.7em;

            span {
                font-weight: bold;
                white-space: nowrap;
                display: block;
                font-size: 1.2em;
            }
        }
    }
}

.slider {
    margin: 1em 0;
}

.daterange div {
    display: inline-block;

    div {
        display: block;
    }
}

#search_dialog {
    .wrap {
        overflow-y: scroll;
        width: 100%;
        height: 500px;
    }

    table {
        border: 2px solid black;
        padding: 1px;
        border-collapse: collapse;
        width: 100%;

        tr td {
            padding: 2px;
            max-width: 300px;

            &:first-child {
                font-weight: bold;
                color: #fff;
                background-color: #000;
            }
        }

        &:nth-child(even) td {
            border-top: 1px dashed #666;

            &:first-child {
                background: #666;
            }
        }

        &:nth-child(odd) td:first-child {
            background: #000;
        }

        &:nth-child(odd) td {
            border-top: 1px dashed #000;
        }
    }
}
