@import "../../../_utilities";


.filter-container.on{
    box-shadow: 0 0 0 2px $primary;
}

fieldset {
    border: none;
    min-inline-size: inherit;
    margin-bottom: 5px;

    legend {
        float: left;
        padding: 0;
        margin-bottom: 1rem;
        line-height: inherit;
    }
}

[data-balloon]::after {
    z-index: 20;
}


.filter-control {
    clear: left;
}
