<div class="box filter-container" *ngIf="filter" [ngClass]="{'on': filter.active.value}">
    <div class="field has-addons">
        <div class="control is-expanded" iaBalloon="{{ filter.description }}"
            iaBalloonPosition="up-left" iaBalloonLength="fit">
            <label class="label" [for]="'filter' + filter.corpusField.name">{{ filter.corpusField.displayName
                }}</label>
        </div>
        <p class="control">
            <button *ngIf="(filter.isDefault$ | async) === false" class="button icon filter-icon is-primary is-inverted is-round"
                (click)="filter.reset()" iaBalloon="Reset this filter to its default values"
                iaBalloonPosition="down-left">
                <fa-icon [icon]="icons.clear" aria-hidden="true"></fa-icon>
            </button>
            <button *ngIf="(filter.isDefault$ | async) === false"
                class="button icon filter-icon is-primary is-inverted is-round"
                [ngClass]="{'is-primary': filter.active.value}"
                (click)="filter.toggle()" iaBalloon="{{filter.active.value ? 'Disable this filter' : 'Enable this filter'}}"
                iaBalloonPosition="down-left">
                <fa-icon [icon]="icons.toggle" aria-hidden="true"></fa-icon>
            </button>
        </p>
    </div>
    <ng-container *ngIf="filter.adHoc">
        <ia-ad-hoc-filter [filter]="filter" [queryModel]="queryModel"></ia-ad-hoc-filter>
    </ng-container>
    <ng-container *ngIf="!filter.adHoc" [ngSwitch]="filter.filterType">
        <ia-boolean-filter *ngSwitchCase="'BooleanFilter'" [filter]="filter" [queryModel]="queryModel"></ia-boolean-filter>
        <ia-date-filter *ngSwitchCase="'DateFilter'" [filter]="filter" [queryModel]="queryModel"></ia-date-filter>
        <ia-multiple-choice-filter *ngSwitchCase="'MultipleChoiceFilter'" [filter]="filter" [queryModel]="queryModel"></ia-multiple-choice-filter>
        <ia-range-filter *ngSwitchCase="'RangeFilter'" [filter]="filter" [queryModel]="queryModel"></ia-range-filter>
    </ng-container>
</div>
