<div class="dropdown-trigger">
    <button class="button" aria-haspopup="true"
        [disabled]="disabled" [class]="styleClass"
        (click)="toggleDropdown()">
        <ng-content select="[iaDropdownLabel]"></ng-content>
        <span class="icon">
            <fa-icon [icon]="actionIcons.dropdown" aria-hidden="true"></fa-icon>
        </span>
    </button>
</div>
<div class="dropdown-menu" role="menu">
    <div class="dropdown-content">
        <ng-content select="[iaDropdownMenu]"></ng-content>
    </div>
</div>
