<h2 class="title is-5">Search history</h2>

<details class="content help">
    <summary>More information</summary>

    <p>
        Saving your search history allows you to look up earlier queries.
        You can view your saved history on the <a href="/search-history">search history page</a>.
        It can be used to quickly get back to earlier queries, or to log your research process.
    </p>
    <p>
        Search histories are stored on the I-analyzer server.
        They are not shared with others, but developers may use search history
        statistics to assess the level of interest in different corpora.
        See our <a href="/privacy">privacy statement</a> for more information.
    </p>
</details>

<div class="block">
    <ia-toggle-search-history></ia-toggle-search-history>
</div>

<div class="block">
    <ia-delete-search-history></ia-delete-search-history>
</div>
