@use "../../../utilities";

.hits {
    &.is-loading {

        &:after {
            // normally the spinner is placed in the middle, but this component is generally
            // really long so it wouldn't be visible to the user changing the sorting then
            top: 50px;
        }
    }
}

.hits {
    margin-bottom: 15px;
}

.title {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1rem;
}

.results-navigation {
    background: var(--bulma-body-background-color);
    z-index: 18;
    top: 68px;
    position: sticky;

    // less padding because the results navigation field needs a separate section to be allowed to be sticky
    // (or at least meaningfully sticky)
    padding-top: utilities.$size-6;
    margin-bottom: utilities.$size-6;

    &.is-scrolled-down {
        box-shadow: var(--bulma-shadow);
    }
}
