@import "~bulma/bulma.sass";
@import "../../variables";
.document {
    .table {
        td, th {
            border: none;
        }
    }

    .relevance-score {
        @extend .title;
        text-align: center;
    }

    &:hover {
        box-shadow: $boxShadowHover;
        cursor: pointer;
    }
}
