@import "../../_utilities";

.title-section {
    // slightly less padding because the search entry field needs a separate section to be allowed to be sticky
    padding-bottom: $spacing;
}

.search-section {
    background: rgba(255, 255, 255, 1);
    position: sticky;
    z-index: 1000;
    top: 0;
    transition: box-shadow 0.2s;

    // slightly less padding because the search entry field needs a separate section to be allowed to be sticky
    // (or at least meaningfully sticky)
    padding-top: $spacing;
    padding-bottom: $spacing;

    &.is-scrolled-down {
        box-shadow: $boxShadow;
    }

    + section {
        padding-top: $spacing;
    }

    .search-controls {
        align-items: flex-start;
    }
}

.control[data-balloon] p-multiSelect {
    position: relative;
    z-index: 20;
}

.control[data-balloon] ia-select-field {
    position: relative;
    z-index: 20;
}

.filter-container{
    &:hover{
        box-shadow: 0 0 0 1px $primary;
    }
}

.filter-container.on{
    box-shadow: 0 0 0 2px $primary;
}

.filter-icon {
    border: none;
}

.button.is-primary {
    background-color: $primary;
    border-color: transparent;
    color: $text-primary-color;

    &:hover{
        background-color: $contrast-primary-color;
        border-color: transparent;
        color: $text-primary-color;
    }
}

//Removed the label of the multiselect so that only the icon is visible. Also the padding of the icon is adjusted.
::ng-deep ia-select-field {

    .ui-multiselect-label-container {
    display: none;
    }

    .ui-multiselect  .ui-multiselect-trigger {
        padding: 0px 0.75em;
    }
}

.field.has-addons .control:last-child .button {
    border-radius: 2px;
}

.tabs {
    white-space: normal;
}

.field.has-addons {
    display: flex !important;
    word-break: break-word;
}

.switch[type=checkbox].is-primary:checked + label::before, .switch[type=checkbox].is-primary:checked + label:before {
    background: $primary;
}

.switch[type=checkbox] + label {
    padding-left: 3rem;
    padding-top: 0rem;
}

.right_control {
    text-align: right;
}

.button.is-small {
    font-size: 0.7rem;
}
