@import "../../shared";

.title-section {
    // slightly less padding because the search entry field needs a separate section to be allowed to be sticky
    padding-bottom: $spacing;
}

.search-section {
    background: rgba(255, 255, 255, 1);
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
    transition: box-shadow 0.2s;

    // slightly less padding because the search entry field needs a separate section to be allowed to be sticky
    // (or at least meaningfully sticky)
    padding-top: $spacing;
    padding-bottom: $spacing;

    &.is-scrolled-down {
        box-shadow: $boxShadow; 
    }

    + section {
        padding-top: $spacing;
    }

    .search-controls {
        align-items: flex-start;
    }
}

.control[data-balloon] p-multiSelect {
    position: relative;
    z-index: 20;
}

.control[data-balloon] ia-select-field {
    position: relative;
    z-index: 20;
}

.filter-container.on {
  box-shadow: 0 0 0 2px $primary;
}

.filter-icon {
    border: none;
}

.button.is-primary {
    background-color: $primary;
    border-color: transparent;
    color: $text-primary-color;

    &:hover{
        background-color: $contrast-primary-color;
        border-color: transparent;
        color: $text-primary-color;
    }
}

//Removed the label of the multiselect so that only the icon is visible. Also the padding of the icon is adjusted. 
::ng-deep ia-select-field {

    .ui-multiselect-label-container {
    display: none;
    }

    .ui-multiselect  .ui-multiselect-trigger {
        padding: 0px 0.9em;
    }
}

.field.has-addons .control:last-child .button {
    border-radius: 2px;
}

.tabs {
    white-space: normal;
}

::ng-deep .ui-tabview-panels{

    &.ui-widget-content {
    background-color: #FFFFFF !important;
    }

}

::ng-deep .ui-tabview.ui-widget.ui-widget-content.ui-corner-all.ui-tabview-top {
    background-color: #FFFFFF;
    border: 0px;
}

::ng-deep .ui-tabview-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all.ng-star-inserted {
    padding: 0em 0em 0;
    border: 0px solid #303F9F;
    background-color: #FFFFFF;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


::ng-deep .ui-state-default a {
    color: #FFFFFF;
    background-color: #303F9F;
}

::ng-deep .ui-state-active a {
    color: #303F9F;
    background-color: #FFFFFF;
}

// ::ng-deep .ui-state-active a {
//     color: #303F9F;
//     background-color: #FFFFFF;
// }

::ng-deep .tabs a:hover {
    background-color: #FFFFFF !important;
    border-bottom-color: #FFFFFF !important;
    color: #303F9F;
    
}
