<!-- Toggle filter button, search bar, visualize and download buttons -->
<section class="section">
    <h1 class="title">
        Search
        <a [routerLink]="['/home']" *ngIf="corpus">&ldquo;{{corpus.title}}&rdquo;</a>
    </h1>
    <nav class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <button class="button" (click)="toggleFilters()">
                    <span class="icon is-small">
                        <i class="fa fa-bars"></i>
                    </span>
                    <span>Filters</span>
                </button>
            </div>
            <div class="level-item">
                <form (ngSubmit)="search()" *ngIf="corpus">
                    <div class="field has-addons">
                        <input class="input" id="query" [(ngModel)]="queryText" name="queryText" type="text" placeholder="Query">

                        <button class="button is-primary" type="submit" id="search" [ngClass]="{'is-loading':isSearching}">
                            <span class="icon is-small">
                                <i class="fa fa-search"></i>
                            </span>
                            <span>Search</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-info" type="submit" (click)="visualize()" [disabled]="!results" *ngIf=showVisualizationButton>
                        <span class="icon is-small">
                            <i class="fa fa-bar-chart"></i>
                        </span>
                        <span>Visualize</span>
                    </button>
                </div>
                <div class="level-item">
                    <div class="field has-addons">
                        <button class="button is-info" [ngClass]="{'is-loading':isDownloading}" type="download" (click)="download()" [disabled]="!results">
                            <span class="icon is-small">
                                <i class="fa fa-download"></i>
                            </span>
                            <span>Download csv</span>
                        </button>
                        <button class="button is-info is-outlined" type="downloadSettings" (click)="showCsvFields=true" [disabled]="!results">
                            <span class="icon is-small">
                                <i class="fa fa-cog"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>

<!-- filters and search results -->
<section>
    <div class="container is-fluid">
        <div class="tile is-ancestor">

            <!-- Filters, on left -->
            <div *ngIf="corpus && showFilters" class="tile is-vertical is-4 is-parent">
                <div>
                    <ng-container *ngFor="let field of corpus.fields">
                        <div class="box" *ngIf="field.searchFilter">
                            <label class="label" [for]="'filter' + field.name">Filter ({{ field.name }})</label>
                            <div class="checkbox">
                                <input [(ngModel)]="queryField[field.name].useAsFilter" [name]="'searchByField' + field.name" [id]="'filter' + field.name"
                                    type="checkbox">
                            </div> {{ field.searchFilter.description }}
                            <search-filter [field]="field" [enabled]="queryField[field.name].useAsFilter" [filterData]="queryField[field.name].data" (click)="enableFilter(field.name)" (update)="updateFilterData(field.name, $event)"></search-filter>
                        </div>
                    </ng-container>
                </div>
            </div>

            <!-- search results, on right -->
            <div class="tile is-vertical is-parent" [ngClass]="{'is-8': showFilters}" *ngIf="results">
                <div class="tile is-child">
                    <search-results [results]="results" [corpus]="corpus" [query]="searchQuery" [user]="user" (view)="onViewDocument($event)"></search-results>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- show customizations for downloading csv -->
<p-dialog header="Select CSV Columns" [(visible)]="showCsvFields" *ngIf="showCsvFields">
    <b> You can select which columns appear in your
        <code>.csv</code> file. </b>
    <div align="center">
        <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAllCsvFields()">
        <label *ngIf='selectedAll'>Deselect all columns</label>
        <label *ngIf='!selectedAll'>Select all columns</label>
    </div>

    <ng-container *ngFor="let field of corpus.fields">
        <div class="csv-column" *ngIf="!field.hidden">
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="queryField[field.name].visible" [name]="visibleField" (change)="checkIfAllSelected()"> {{ field.displayName }}
            </label>
            <div class="description" *ngIf="field.description">
                {{ field.description }}
            </div>
            <div class="description" *ngIf="!field.description">
            </div>
        </div>
    </ng-container>
</p-dialog>
<!-- show the selected document -->
<p-dialog header="Document {{viewDocument.position}} of {{results.total}}" [(visible)]="showDocument" width="800" *ngIf="viewDocument">
    <document-view [document]="viewDocument" [fields]="corpus.fields" [query]="queryText"></document-view>
</p-dialog>
<!-- bring up visualization when the button has been clicked -->
<p-dialog [(visible)]="showVisualization" *ngIf="showVisualization" positionTop="150" width="800">
    <p-header>Select a data column for visualization</p-header>
    <visualization [queryModel]="queryModel" [corpus]="corpus"></visualization>
</p-dialog>
