<ng-container *ngIf="filter">
    <div class="bool" *ngIf="filter.name == 'BooleanFilter'">
        <p-checkbox [(ngModel)]="data" binary="true" (onChange)="update()"></p-checkbox>
        {{data | json | titlecase }}
    </div>
    <div class="mc" *ngIf="filter.name == 'MultipleChoiceFilter'" iaBalloon="This filter is preventing your query from returning any results. Please choose at least one option." [iaBalloonVisible]="warnBottleneck && isBottleneck" iaBalloonPosition="right" iaBalloonLength="fit">
        <p-multiSelect [filter]="data.options.length>=6" [options]="data.options" [(ngModel)]="data.selected" (onChange)="update()" ></p-multiSelect>
    </div>
    <div class="range" *ngIf="filter.name == 'RangeFilter'" iaBalloon="This filter is preventing your query from returning any results. Please ensure that the minimum is not larger than the maximum." [iaBalloonVisible]="warnBottleneck && isBottleneck" iaBalloonPosition="right" iaBalloonLength="fit">
        <span>{{data[0]}} - {{data[1]}}</span>
        <p-slider [animate]="true" [(ngModel)]="data" [range]="true" [min]="filter.lower" [max]="filter.upper" (onChange)="update()"></p-slider>
    </div>
    <div class="daterange" *ngIf="filter.name == 'DateFilter'" iaBalloon="This filter is preventing your query from returning any results. Please ensure that the first date in the range is not after the last date." [iaBalloonVisible]="warnBottleneck && isBottleneck" iaBalloonPosition="right" iaBalloonLength="fit">
        <p-calendar [(ngModel)]="data.min" [showIcon]="true" [minDate]="filter.lower" [maxDate]="data.max" [monthNavigator]="true" [yearNavigator]="true" yearRange="{{data.minYear}}:{{data.maxYear}}" (onSelect)="update()"
            (onBlur)="update()" dateFormat="yy-mm-dd"></p-calendar>
        <br>
        <p-calendar [(ngModel)]="data.max" [showIcon]="true" [maxDate]="filter.upper" [minDate]="data.min" [monthNavigator]="true" [yearNavigator]="true" yearRange="{{data.minYear}}:{{data.maxYear}}" (onSelect)="update()"
            (onBlur)="update()" dateFormat="yy-mm-dd"></p-calendar>
    </div>
</ng-container>
