<h2 class="title">
    Search sample
</h2>
<ng-container *ngIf="!sample.total; else resultsBlock">
    <h2 class="subtitle">
        0 hits
    </h2>
</ng-container>
<ng-template #resultsBlock>
    <h2 class="subtitle" *ngIf="sample.total <= 5">
        {sample.total, plural, =1 {1 hit} other {{{sample.total}} hits}}
    </h2>
    <h2 class="subtitle" *ngIf="sample.total > 5">
        {{sample.total}} hits. The download limit is 10000. This is a sample of {{sample.hits.length}} results:
    </h2>
    <div class="hits">
        <div *ngFor="let hit of sample.hits" class="hit">
            <div class="box">
                <table class="table">
                    <ng-container *ngFor="let field of sample.fields">
                        <tr *ngIf="hit[field]">
                            <th>{{field}} </th>
                            <td [innerHtml]="hit[field] | highlight:query"></td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
</ng-template>
