@import "../../shared";

.title-section {
    // slightly less padding because the search entry field needs a separate section to be allowed to be sticky
    padding-bottom: $spacing;
}

.search-section {
    background: rgba(255, 255, 255, 1);
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
    transition: box-shadow 0.2s;

    // slightly less padding because the search entry field needs a separate section to be allowed to be sticky
    // (or at least meaningfully sticky)
    padding-top: $spacing;
    padding-bottom: $spacing;

    &.is-scrolled-down {
        box-shadow: $boxShadow;        
    }

    + section {
        padding-top: $spacing;
    }

    .search-controls {
        align-items: flex-start;
    }
}

.control[data-balloon] p-multiSelect {
    position: relative;
    z-index: 20;
}

.control[data-balloon] ia-select-field {
    position: relative;
    z-index: 20;
}

.filter-container.on {
  box-shadow: 0 0 0 2px $primary;
}

.filter-icon {
    border: none;
}

.button.is-primary, {
    background-color: $primary;
    border-color: transparent;
    color: $text-primary-color;

    &:hover{
        background-color: $default-primary-color;
        border-color: transparent;
        color: $text-primary-color;
    }
}