@import "~bulma/bulma.sass";
@import "../../shared";

.document {
    .table {
        td, th {
            border: none;
        }
    }

    .relevance-score {
        text-align: center;

        strong, span {
            vertical-align: baseline;
        }

        strong {
            @extend .title;
        }
    }

    &:hover {
        box-shadow: $boxShadowHover;
        cursor: pointer;
    }
}

.load-more .buttons {
    padding: 15px;
}
