.DS_Store
/node_modules
/.idea
elasticsearch-*/
.python-version
backend/.python-version
backend/requirements_m1.txt
backend/migrations/versions/migration_detainment_chamber
.pytest_cache
saml/
nltk_data/
dump.rdb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
/static/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# pyenv
.python-version

# Environments
env/
.env/
.env-*/
.venv
venv/
ENV/
env.bak/
venv.bak/
