.DS_Store
/node_modules
/.idea
env/
.env/
elasticsearch-*/
.python-version
backend/.python-version
backend/requirements_m1.txt
backend/migrations/versions/migration_detainment_chamber
.pytest_cache
saml/
