<ng-container *ngIf="page && document">
    <table class="table is-fullwidth">
        <ng-container *ngFor="let field of page.fields">
            <tr *ngIf="document.fieldValue(field)">
                <th>
                    <span [iaBalloon]="field.description" iaBalloonPosition="left" iaBalloonLength="medium">
                        {{field.displayName}}:
                    </span>
                </th>
                <td *ngIf="document.highlight && document.highlight[field.name]; else unhighlightedRow"
                    [attr.lang]="document.language(field)">
                    <ng-container *ngFor="let highlight of document.highlight[field.name]">
                        <div ngPreserveWhitespaces style="word-break:break-word" [innerHtml]="highlight"></div>
                        <hr *ngIf="highlight !== document.highlight[field.name][document.highlight[field.name].length-1]">
                    </ng-container>
                </td>
                <ng-template #unhighlightedRow>
                    <td style="word-break:break-word"
                        [attr.lang]="document.language(field)"
                        [innerHtml]="document.fieldValue(field) | snippet">
                    </td>
                </ng-template>
            </tr>
        </ng-container>
    </table>


    <div class="columns is-vcentered">
        <div class="column is-narrow heading" *ngIf="document.relevance">
            Relevance: <ia-search-relevance [value]="document.relevance"></ia-search-relevance>
        </div>
        <div class="column" role="presentation"></div>
        <div class="column field is-grouped is-narrow">
            <div class="control">
                <button class="button is-primary" (click)="page.focus(document)">
                    <span class="icon" aria-hidden="true"><fa-icon [icon]="actionIcons.view"></fa-icon></span>
                    <span>
                        View
                    </span>
                </button>
            </div>
            <div class="control" *ngIf="document.fieldValues.image_path">
                <button class="button" (click)="goToScan(page, document, $event)" aria-label="view scan">
                    <span class="icon" aria-hidden="true"><fa-icon [icon]="documentIcons.scanAlt"></fa-icon></span>
                    <span>View scan</span>
                </button>
            </div>
            <div class="control">
                <a class="button" [routerLink]="documentUrl">
                    <span class="icon" aria-hidden="true"><fa-icon [icon]="actionIcons.link"></fa-icon></span>
                    <span>
                        Link
                    </span>
                </a>
            </div>
        </div>
    </div>
</ng-container>
