<div class="columns" *ngIf="page && document">
    <div class="column is-flex" tabindex="0" role="button"
        (click)="page.focus(document)"
        (keydown.enter)="page.focus(document)">
        <table class="table is-fullwidth">
            <ng-container *ngFor="let field of page.fields">
                <tr *ngIf="document.fieldValue(field)">
                    <th [iaBalloon]="field.description" iaBalloonPosition="left" iaBalloonLength="medium">
                        {{field.displayName}}:
                    </th>
                    <ng-container *ngIf="document.highlight && document.highlight[field.name]; else unhighlightedRow">
                        <td>
                            <ng-container *ngFor="let highlight of document.highlight[field.name]">
                                <div ngPreserveWhitespaces style="word-break:break-word" [innerHtml]="highlight"></div>
                                <hr *ngIf="highlight !== document.highlight[field.name][document.highlight[field.name].length-1]">
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-template #unhighlightedRow>
                        <td style="word-break:break-word" [innerHtml]="document.fieldValue(field) | highlight:query:true"></td>
                    </ng-template>
                </tr>
            </ng-container>
        </table>
    </div>
    <div class="column is-one-quarter">
        <ng-container *ngIf="document.relevance">
            <div class="relevance-score">
                <span>Relevance: {{document.relevance * 100 | number:'1.0-0' }}%</span>
            </div>
            <search-relevance [value]="document.relevance"></search-relevance>
        </ng-container>
        <button *ngIf="document.fieldValues.image_path" class="button scan-button is-primary is-inverted"
            iaBalloon="View Scan" aria-label="view scan"
            (click)="goToScan(page, document, $event)">
            <span class="icon is-large">
                <fa-icon [icon]="scanIcon" size="3x" aria-hidden="true"></fa-icon>
            </span>
        </button>
    </div>
</div>
