.item-container {
    margin: auto;
    width: 92%
}

.item-title {
    justify-content: center;
    align-items: center;
    background-color: rgba(48, 63, 159, 0.1);
}

// .home-blah {
//     position: relative;
//     background-image: url('assets/background2.jpg');
//     background-size: contain;
// }

// .home-foo {
//     background-color: rgba(48, 63, 159, 0.1);
// }
