<section class="section has-text-centered">
    <header>
        <div class="title is-2">PEACE - Portal of Epigraphy, Archaeology, Conservation and Education</div>
    </header>
    <div class="container is-readable">
        <article>
            <div class="item-container columns is-multiline">
                <div class="column is-6">
                    <a role="link" [routerLink]="['/epigraphy']">
                        <figure class="image is-1by1">
                            <img src="assets/epigraphy.jpg">
                            <h2 class="item-title title is-2 is-overlay is-flex has-text-light">Epigraphy</h2>
                        </figure>
                    </a>
                </div>
                <div class="column is-6">
                    <a role="link" [routerLink]="['/archaeology']">
                        <figure class="image is-1by1">
                            <img src="assets/archaeology.jpg">
                            <h2 class="item-title title is-2 is-overlay is-flex has-text-light">Archaeology</h2>
                        </figure>
                    </a>
                </div>
                <div class="column is-6">
                    <a role="link" [routerLink]="['/conservation']">
                        <figure class="image is-1by1">
                            <img src="assets/conservation.jpg">
                            <h2 class="item-title title is-2 is-overlay is-flex has-text-light">Conservation</h2>
                        </figure>
                    </a>
                </div>
                <div class="column is-6">
                    <a role="link" [routerLink]="['/education']">
                        <figure class="image is-1by1">
                            <img src="assets/education.jpg">
                            <h2 class="item-title title is-2 is-overlay is-flex has-text-light">Education</h2>
                        </figure>
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>
