<div class="block message" *ngIf="queryFeedback && queryFeedback.status !== 'success'">
    <div class="message-header">
        <h2>{{titles[queryFeedback.status]}}</h2>
    </div>
    <div class="message-body content">
        <p *ngIf="queryFeedback.status == 'error'">
            The server encountered an error and the word models could not be loaded.
        </p>

        <p *ngIf="queryFeedback.status == 'not in model'">
            The query term '{{query}}' is not in the model's vocabulary.
            If you meant to search for this term, it may be a stopword or have a very low frequency.
        </p>

        <p *ngIf="suggestions">
            The following words <i>are</i> in the model's vocabulary: <b>{{suggestions}}</b>
        </p>
    </div>

</div>

<div class="block is-loading" *ngIf="queryFeedback == undefined" style="height: 5rem;"></div>
