@use "../../../utilities";

.p-active, .p-highlight {
    background-color: utilities.$primary !important;
    color: var(--bulma-primary-invert) !important;
}

.p-datatable-wrapper {
    width: 100%;
    overflow-x: scroll;
}

