__pycache__/
ianalyzer/config.py
indexing*
*.pyc
.cache
*.egg-info
*.egg
*.log
!.log/
build/
dist/
lib/
instance/
set
corpora/*/wm/*
!corpora/*/wm/description.md
api/csv_files/*.csv
corpora/guardianobserver/processed.txt
dump.rdb
