Django>=4.0.1,<5
djangorestframework
django-livereload-server
# django-revproxy, see https://github.com/UUDigitalHumanitieslab/cookiecutter-webapp-deluxe/issues/35
git+https://github.com/jazzband/django-revproxy.git@1defbb2dad5c0632391d54bcd3dbdaeabf46266a
psycopg2
pytest
pytest-django
pytest-xdist
elasticsearch
nltk
beautifulsoup4
lxml
