Flask
Flask-SQLAlchemy
Flask-Admin
Flask-Login
Flask-Migrate
Flask-SeaSurf
Flask-Mail
Werkzeug
WTForms
celery
elasticsearch
beautifulsoup4
lxml
pytest
coverage
requests
scikit-learn
numpy
responses
openpyxl
python3-saml
pypdf2
mysqlclient>=1.3.12,<1.4.0
