Django>=4.0.1,<5
djangorestframework
dj-rest-auth[with_social]
django-livereload-server
django-revproxy
djangosaml2
langdetect
psycopg2
pytest
pytest-django
pytest-xdist
pytest-celery
elasticsearch>=8,<9
nltk
beautifulsoup4
lxml
numpy
textdistance
gensim
scikit-learn
pandas
celery[redis]
pypdf
openpyxl
tqdm
langcodes
language_data
flower
ianalyzer_readers
jsonschema
Pillow
