<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ corpus_name.capitalize() }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript">
<!--

var AUTOCOMPLETE = {{ autocomplete|tojson }},
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }},
    $CORPUS_ROOT = {{ (request.script_root + "/" + corpus_name)|tojson|safe }},
    DOWNLOAD_LIMIT = {{ current_user.download_limit }};

-->
</script>
<script src="{{ url_for('static', filename='search.js') }}"></script>
</head>

<body>

<div id="flashes" class="ui-widget">
    {%- for message in get_flashed_messages() %}
    <div class="ui-state-highlight ui-corner-all">
        <p><span class="ui-icon ui-icon-info"></span>
        {{ message }}</p>
    </div>
    {%- endfor %}
</div>
    
<form method="post" action="{{ url_for('blueprint.search_csv', corpus_name=corpus_name) }}">

<div class="top_buttons">
    <span style="padding-right:1em">logged in as {{ current_user.username }}</span>
    {% if current_user.has_role('admin') %}<a id="admin" href="{{ url_for('admin.index') }}">administrator</a>{% endif %}
    <a id="logout" href="{{ url_for('admin.logout') }}">exit</a>
</div>

<div class="tabs">
    <ul>
        <li><a href="#tab-search">Search</a></li>
        <li><a href="#tab-column">Columns</a></li>
    </ul>
    <div id="tab-search">

        <table>
        <tr>
            <td class="lbl"><span>Query</span></td>
            <td><input id="query" name="query" type="text"></td>
        </tr>
               
        {%- for field in fields %}
        {%- if field.search_filter %}
        <tr>
            <td class="lbl">
                <span>
                    <input name="filter:{{ field.name }}?" id="filter:{{ field.name }}?" type="checkbox">
                    <label for="filter:{{ field.name }}?">Filter ({{ field.name }})</label>
                </span>
                {{ field.search_filter.description }}
            </td>
            <td>
                {{ field.search_filter.html()|safe }}
            </td>
        </tr>
        {%- endif %}
        {%- endfor %}
        </table>
    </div>
    <div id="tab-column">
        <p>Please select the columns that are to appear in your <code>csv</code> file.</p>

        <table>
        <tbody>
        {%- set columns=2 %}
        {%- for i in range(0, fields|length, columns) %}
            <tr>
            {%- for field in fields[i:i+columns] %}
                <td class="lbl"><span><input type="checkbox" name="field:{{ field.name }}" checked> {{ field.name }}</span></td>
                <td>{{ field.description if field.description else "---" }}</td>
            {%- endfor %}
            </tr>
        {%- endfor %}
        </tbody></table>
    </div>
</div>

<button type="submit" id="search">Search</button>
</form>

<div id="search_dialog" title="Search">
</div>
</body>
</html>
