<form>
    <div class="field is-grouped">
        <div class="control is-expanded">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <p-chips name="queries" [(ngModel)]="queries" separator="," addOnBlur="true"></p-chips>
                </div>
                <div class="control">
                    <button class="button is-primary" (click)="confirmQueries()" [disabled]="disableConfirm">
                        <span class="icon">
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </span>
                        <span>Confirm</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="control" *ngIf="queries.length > initialValue.length" >
            <button class="button" (click)="signalClearQueries()">
                <span class="icon">
                    <i class="fa fa-times"></i>
                </span>
                <span>Reset</span>
            </button>
        </div>
    </div>
</form>
