<section class="section">
    <p-table #dt *ngIf="downloads && corpora" [value]="downloads" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div style="text-align: left">
                Downloads
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Corpus</th>
                <th>Query</th>
                <th>Filters</th>
                <th>Field(s)</th>
                <th>Status</th>
                <th>Download</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>
                    <p-dropdown [options]="corpusMenuItems" [style]="{'width':'100%'}"
                        placeholder="Any" showClear="true"
                        (onChange)="dt.filter($event.value, 'corpus', 'equals')"></p-dropdown>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-download>
            <tr>
                <td>{{download.started | date:'medium'}}</td>
                <td>{{download.download_type}}</td>
                <td>{{download.corpus}}</td>
                <td>{{queryText(download)}}</td>
                <td ia-query-filters [queryModel]="getQueryModel(download)"></td>
                <td>{{getFields(download)}}</td>
                <td>{{download.status}}</td>
                <td>
                    <a *ngIf="download.status == 'done'" [href]="downloadLink(download)">
                        <span class="icon">
                            <fa-icon [icon]="faDownload"></fa-icon>
                        </span>
                        <span>download file</span>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</section>

