<ia-corpus-header [corpus]="corpus" currentPage="word-models"></ia-corpus-header>

<section *ngIf="user">
    <div class="container is-readable">
        <div class="block">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" placeholder="Query" [(ngModel)]="queryText">
                </div>
                <div class="control">
                    <button type="submit" class="button is-primary" (click)="submitQuery()">
                        Search
                    </button>
                </div>
            </div>
        </div>


        <ng-container *ngIf="activeQuery">
            <div class="tabs is-boxed">
                <ul>
                    <li [ngClass]="{'is-active': tabIndex==0}">
                        <a role="button" tabindex="0" (keydown.enter)="tabIndex=0" (click)="tabIndex=0">Related words</a>
                    </li>
                    <li [ngClass]="{'is-active': tabIndex==1}">
                        <a role="button" tabindex="0" (keydown.enter)="tabIndex=1" (click)="tabIndex=1">Word context</a>
                    </li>
                    <li [ngClass]="{'is-active': tabIndex==2}">
                        <a role="button" tabindex="0" (keydown.enter)="tabIndex=2" (click)="tabIndex=2">Plain text</a>
                    </li>
                </ul>
            </div>

            <ng-container *ngIf="tabIndex==0">
                <ia-related-words [corpus]="corpus" [queryText]="activeQuery"
                    [asTable]="false">
                </ia-related-words>
            </ng-container>
        </ng-container>

    </div>
</section>
