<ia-corpus-header [corpus]="corpus" currentPage="word-models"></ia-corpus-header>

<section class="section search-section" #searchSection [ngClass]="{'is-scrolled-down': isScrolledDown}" *ngIf="user">
    <div class="container is-readable">
        <form class="block">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" name="query" placeholder="Query" [(ngModel)]="queryText">
                </div>
                <div class="control">
                    <button type="submit" class="button is-primary" (click)="submitQuery()">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="section" *ngIf="activeQuery">
    <div class="container is-readable">
        <div class="tabs is-boxed">
            <ul>
                <li *ngFor="let tab of ['relatedwords', 'wordcontext', 'plaintext']" [ngClass]="{'is-active': tabIndex==tab}">
                    <a role="button" tabindex="0" (keydown.enter)="tabIndex=tab" (click)="tabIndex=tab">{{tabs[tab].title}}</a>
                </li>
            </ul>
        </div>

        <div class="block" *ngIf="tabIndex=='relatedwords'">
            <ia-related-words [corpus]="corpus" [queryText]="activeQuery"
                [asTable]="asTable" [palette]="palette">
            </ia-related-words>
        </div>

        <div class="block" *ngIf="tabIndex=='wordcontext'">
            Word context coming soon!
        </div>

        <div class="block" *ngIf="tabIndex=='plaintext'">
            Plain text coming soon!
        </div>

        <div class="block">
            <ia-visualization-footer [tableView]="asTable" [manualPage]="currentTab.manual"
                [chartElementID]="currentTab.chartID" [imageFileName]="imageFileName"
                (palette)="palette = $event">
            </ia-visualization-footer>
        </div>

    </div>
</section>
