<ng-container *ngIf="document">
    <p-dialog [(visible)]="visible" width="100%"
        [responsive]="true" [maximizable]="true" [dismissableMask]="true" [draggable]="true" [resizable]="false" [blockScroll]="true"
        header="Document {{document.position}} of {{page.total}}">

        <ia-document-view [document]="document" [queryModel]="queryModel" [corpus]="document.corpus" [view]="view"></ia-document-view>

        <ng-template pTemplate="footer">
            <div class="columns" style="text-align:left">
                <div class="column">
                    <a *ngIf="document.position > 1"
                        iaBalloon="view previous document" iaBalloonPosition="right"
                        (click)="page.focusPrevious(document)" (keydown.enter)="page.focusPrevious(document)"
                        role="button" tabindex="0">
                        <span class="icon"><fa-icon [icon]="faArrowLeft">previous</fa-icon></span>
                    </a>
                </div>
                <div class="column" style="text-align:center">
                    <a [routerLink]="documentPageLink"
                        iaBalloon="view this document on its own page" autofocus
                        tabindex="0">
                        <span class="icon">
                            <fa-icon [icon]="linkIcon"></fa-icon>
                        </span>
                        <span>Link</span>
                    </a>
                    &nbsp;
                    <a *ngIf="document.hasContext"
                        [routerLink]="['/search', document.corpus.name]" [queryParams]="document.contextQueryParams"
                        iaBalloon="view all documents from this {{contextDisplayName}}"
                        tabindex="0">
                        <span class="icon">
                            <fa-icon [icon]="contextIcon"></fa-icon>
                        </span>
                        <span>View {{contextDisplayName}}</span>
                    </a>
                </div>
                <div class="column" style="text-align:right">
                    <a *ngIf="document.position < page.documents.length - 1"
                        iaBalloon="view next document" iaBalloonPosition="left"
                        (click)="page.focusNext(document)" (keydown.enter)="page.focusNext(document)"
                        role="button" tabindex="0">
                        <span class="icon"><fa-icon [icon]="faArrowRight">next</fa-icon></span>
                    </a>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</ng-container>
