<div class="container">
    <menu></menu>
</div>
<main>
    <router-outlet></router-outlet>
    <p-dialog [(visible)]="showManual" *ngIf="showManual" positionTop="50" width="800">
        <p-header>Documentation</p-header>
        <div class="content manual-dialog">
            <markdown [path]="manualPath"></markdown>
        </div>
    </p-dialog>
</main>
<footer class="footer">
    <div class="container">
        <h1>
            <strong> IAnalyzer developed by </strong>
        </h1>
        <a href="https://dig.hum.uu.nl/">
            <img src="assets/dhlab.png" alt="Digital Humanities Lab Utrecht" width="200">
        </a>
    </div>
</footer>
