<!-- inform the user about a failed search -->
<p-dialog [(visible)]="showError" width="600" *ngIf="showError">
    <p-header>Unfortunately, we couldn&rsquo;t complete your request</p-header>
    <div class="content">
        <p>Please try again later, or seek support if the problem persists. In order to help us help you, please provide the
            following information when seeking support:</p>
        <table>
            <tbody>
                <tr>
                    <th>Date</th>
                    <td>
                        <code>{{showError.date}}</code>
                    </td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td>
                        <code>{{showError.href}}</code>
                    </td>
                </tr>
                <tr>
                    <th>Error</th>
                    <td>
                        <code>{{showError.message}}</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</p-dialog>

