<div [class.is-hidden]="asTable">
    <div class="block">
        <div class="field">
            <div class="control">
                <label class="radio" *ngFor="let style of ['line', 'stream']">
                    <input type="radio" [checked]="graphStyle.value==style" (click)="graphStyle.next(style)" (keydown.enter)="graphStyle.next(style)">
                    {{style}}
                </label>

            </div>
        </div>
    </div>

    <canvas id="chart"></canvas>

    <!-- <p-chart *ngIf="!zoomedInData" type="line" [data]="graphData" [options]="chartOptions" (onDataSelect)="zoomTimeInterval($event)"></p-chart> -->
    <!-- <div *ngIf="zoomedInData">
        <a class="button" [iaBalloon]="'go back'" (click)="zoomBack()">
                <span class="icon">
                    <i class="fa fa-undo"></i>
                </span>
        </a>
        <p-chart type="bar" [data]="zoomedInData" [options]="chartOptions"></p-chart>
    </div> -->
</div>

<div class="block" *ngIf="asTable">
    <ia-freqtable  [headers]="tableHeaders" [data]="tableData" [defaultSort]="'similarity'" [name]="'related words'">
    </ia-freqtable>
</div>
