@import "../../_utilities";

.barchart .bar {
	fill: $primary;
}

.barchart .axis path,
.barchart .axis line {
	stroke: #999;
}

.barchart .axis text {
	fill: #999;
}

.barchart {
    width: 90%;
    height: 400px;
}