<div class=box>
    <table id="freq-table" class="table is-fullwidth">
        <thead>
            <tr>
                <th>{{visualizedField|titlecase}}</th>
                <th>Frequency</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let entry of searchData">
                <td>{{entry.key}}</td>
                <td *ngIf="!asPercent">{{entry.doc_count}}</td>
                <td *ngIf="asPercent">{{entry.doc_count | percent:'1.0-2'}}</td>
            </tr>
        </tbody>

    </table>
</div>