<p-table class="freqtable" [value]="tableData" [paginator]="true" [rows]="15" sortField={{defaultSort}} sortOrder={{defaultSortOrder}}>
    <ng-template pTemplate="header">
        <tr class="is-selected">
            <th [pSortableColumn]="'key'">
                {{visualizedField|titlecase}}
                <p-sortIcon [field]="'key'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'doc_count'">
                Frequency
                <p-sortIcon [field]="'doc_count'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
        <tr>
            <td>{{entry.key}}</td>
            <td *ngIf="!asPercent">{{entry.doc_count}}</td>
            <td *ngIf="asPercent">{{entry.doc_count_fraction | percent:'1.0-2'}}</td>
        </tr>
    </ng-template>
</p-table>
