@import "~bulma/bulma.sass";
// to do: define colours on application level (now bulma is imported double here for the colour variables)

.d3-chart .bar {
	fill: $turquoise;
}

.d3-chart .axis path,		
.d3-chart .axis line {		  
	stroke: #999;		
}

.d3-chart .axis text {		  
	fill: #999;		
}

.box {
	padding: .5em .75em;
	// width: 80%;
	margin: .5em 0;
}

.table {
	padding: .5em .75em;
}

.table thead {
	background-color: $turquoise;
}

.table thead th {
	color: white;
}

