@import "../../_utilities";

.timeline .bar {
	fill: $primary;
}

.timeline .axis path,
.timeline .axis line {
	stroke: #999;
}

.timeline .axis text {
	fill: #999;
}

.timeline {
    width: 90%;
    height: 400px;
}

ia-timeline {
    z-index: 1;
    position: absolute;
}

.notification {
    @include unselectable;
    opacity: 0.75;
}