<ng-container *ngIf="field" [ngSwitch]="field.displayType">
    <div *ngSwitchCase="'text'"
        [innerHtml]="field | elasticsearchHighlight:document | paragraph">
    </div>
    <div *ngSwitchCase="'keyword'"
         [innerHTML]="field | elasticsearchHighlight:document | keyword">
    </div>
    <ng-container *ngSwitchCase="'date'">
        {{ document.fieldValue(field) | date:'mediumDate' }}
    </ng-container>
    <ng-container *ngSwitchCase="'date_range'">
        {{ document.fieldValue(field) | dateRange:'mediumDate' }}
    </ng-container>
    <ng-container *ngSwitchCase="'geo_point'">
        {{ field | geoData:document }}
    </ng-container>
    <ng-container *ngSwitchCase="'url'">
        <a href={{document.fieldValue(field)}} target="_blank">
            {{document.fieldValue(field)}}
        </a>
    </ng-container>
    <ng-container *ngSwitchDefault>
        {{ document.fieldValue(field) }}
    </ng-container>
</ng-container>
