<div class="daterange" *ngIf="filter.state$ | async as state">
    <ia-date-picker unit="date" [value]="state.data.min"
        (onChange)="update({min: $event, max: state.data.max})"
        [minDate]="minDate" [maxDate]="maxDate"
        [default]="minDate"></ia-date-picker>
    <ia-date-picker unit="date" [value]="state.data.max"
        (onChange)="update({min: state.data.min, max: $event})"
        [minDate]="minDate" [maxDate]="maxDate"
        [default]="maxDate"></ia-date-picker>
</div>
