<div class="columns is-desktop">
    <div class="column is-5">
        <div class="box">
            <div class="table-container">
                <table class="table is-fullwidth" *ngIf="document">
                    <tr *ngIf="document.relevance">
                        <th>Relevance</th>
                        <td>
                            <search-relevance [value]="document.relevance"></search-relevance>
                        </td>
                    </tr>
                    <ng-container *ngFor="let field of propertyFields">
                        <tr *ngIf="document.fieldValues[field.name]">
                            <th>{{field.displayName}}</th>
                            <td *ngIf="!isUrlField(field)" data-test-field-value [innerHtml]="document.fieldValues[field.name] | highlight:query"></td>
                            <td *ngIf="isUrlField(field)">
                                <a href={{document.fieldValues[field.name]}} target="_blank">{{document.fieldValues[field.name]}}</a>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>

    <div class="column is-7">
        <div class="box">
            <div class="tabs is-boxed">
                <ul role="tablist" aria-label="select content to display">
                    <li *ngFor="let tab of tabs" [class.is-active]="activeTab === tab.value">
                        <a id="tab-{{tab.value}}" role="tab" tabindex="0"
                            [attr.aria-selected]="activeTab === tab.value" [attr.aria-controls]="tab.value"
                            (click)="selectTab(tab)" (keydown.enter)=selectTab(tab)>
                            <span class="icon"><fa-icon [icon]="tabIcons[tab.type]" aria-hidden="true"></fa-icon></span>
                            <span>{{tab.label}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <ng-container *ngFor="let field of contentFields">
                <div id="field.name" role="tabpanel"
                    [hidden]="activeTab !== field.name"
                    [attr.aria-labelledby]="'tab-' + field.name">
                    <div class="content" [innerHtml]="document.fieldValues[field.name] | highlight:query"></div>
                </div>
            </ng-container>
            <ng-container *ngIf="showScanTab">
                <div id="scan" role="tabpanel"
                    [hidden]="activeTab !== 'scan'"
                    aria-labelledby="tab-scan">
                    <ia-image-view [corpus]="corpus" [document]="document"></ia-image-view>
                </div>
            </ng-container>
        </div>
    </div>
</div>
