<div #documentView class="columns is-desktop">
    <div class="column is-5">
        <div class="box">
            <div class="table-container">
                <table class="table is-fullwidth" *ngIf="document">
                    <tr *ngIf="document.relevance">
                        <th>Relevance</th>
                        <td>
                            <search-relevance [value]="document.relevance"></search-relevance>
                        </td>
                    </tr>
                    <ng-container *ngFor="let field of propertyFields">
                        <tr *ngIf="document.fieldValues[field.name]">
                            <th>{{field.displayName}}</th>
                            <td *ngIf="field.name!='url'" data-test-field-value [innerHtml]="document.fieldValues[field.name] | highlight:query"></td>
                            <td *ngIf="field.name=='url'">
                                <a href={{document.fieldValues[field.name]}} target="_blank">{{document.fieldValues[field.name]}}</a>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>

    <div class="column is-7">
        <div class="box">
        <p-tabView> 
            <p-tabPanel header="" leftIcon="fa fa-book">
                <ng-container *ngFor="let field of contentFields">
                    <div class="content" *ngIf="document.fieldValues[field.name]" [innerHtml]="document.fieldValues[field.name] | highlight:query"></div>
                </ng-container>
            </p-tabPanel>
            <p-tabPanel header="" leftIcon="fa fa-image" [disabled]="corpus.scan_image_type==undefined" style="width:100%;">
                    <ia-image-view *ngIf="corpus.scan_image_type=='png' && imgPath" [imgPath]="imgPath"></ia-image-view>
                    <div *ngIf="imgNotFound">Image not available.</div>
                    <ng-template *ngIf="corpus.scan_image_type=='pdf'" pTemplate="content">
                        <ia-scan-pdf [corpus]="corpus" [document]="document" [query]="query"></ia-scan-pdf>
                    </ng-template>
            </p-tabPanel>
        </p-tabView>
        </div>
    </div>
</div>
