@import "../../_utilities";

table {
    word-wrap:break-word;
    table-layout: fixed;

    ::ng-deep a {
        color: $primary;
    }
}

.src-img {
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 
                0 0 0 1px rgba(10, 10, 10, 0.1);
    margin-top: 5px;
}

  