<div style="text-align: center;">
    <div class="level">
    <div class="level-left">
        <button *ngIf="allowDownload" class="button download is-primary is-inverted" (click)="confirmDownload()">
            <i class="fa fa-download" aria-hidden="true"></i>
        </button>
        <button class="button is-primary is-inverted" (click)="zoomIn()">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
        </button>
        <button class="button is-primary is-inverted" (click)="zoomOut()">
            <i class="fa fa-search-minus" aria-hidden="true"></i>
        </button>
        <button class="button is-primary is-inverted" (click)="resetZoom()">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </button>
    </div>
    </div>
</div>

<ia-scan-image *ngIf="mediaType!='application/pdf'" [imagePaths]="imagePaths" [zoomFactor]="zoomFactor"></ia-scan-image>
<ia-scan-pdf *ngIf="mediaType=='application/pdf'" [imagePaths]="imagePaths" [zoomFactor]="zoomFactor" [allowDownload]="allowDownload" [downloadPath]="downloadPath"></ia-scan-pdf>