<div class="image-container">
    <img class="src-img" #sourceImage src="{{imgPath}}" (wheel)="onScroll()" (mousemove)="onMouseMove($event)" (mouseover)="zoomVisible = 'visible'" (mouseout)="zoomVisible = 'hidden'"/>
    <div class="zoom-lens" [ngStyle]="{'top.px': top, 'left.px': left, 'visibility': zoomVisible}"></div>
</div>

<div #zoomedImage class="zoom-img" [style]="backgroundImageStyle" 
    [ngStyle]="{'background-position': backgroundPosition, 'background-size': backgroundSize, 'visibility': zoomVisible}">
</div>
