<ia-image-navigation *ngIf="page" [firstPage]="startPage" [lastPage]="lastPage" [currentPage]="page" (pageIndexChange)="showCurrentPage($event)"></ia-image-navigation>
<div *ngIf="!pdfNotFound" class="pdf" [ngClass]="{'is-loading':!isLoaded}">
    <ng-container *ngIf="page">
    <pdf-viewer
        [src]="pdfSrc"
        [render-text]="true"
        [original-size]="false"
        [autoresize]="true"
        [show-all]="false"
        [page]="page"
        [zoom]="zoomFactor"
        (after-load-complete)="afterLoadComplete($event)"
        (error)="onError($event)"
        style="display:block;">
    </pdf-viewer>
</ng-container>
</div>

<p-confirmDialog #cd appendTo="body">
    <p-footer>
        <div class="field is-grouped">   
            <button class="button is-primary" (click)="cd.accept()">
                <i class="fa fa-fw fa-download" aria-hidden="true"></i> Download
            </button>
            <button class="button is-primary" (click)="cd.rejectt()">
                <i class="fa fa-fw fa-times" aria-hidden="true"></i> Cancel
            </button>
        </div>
    </p-footer>
</p-confirmDialog>

