<div class="level-item">
    <div class="field has-addons">
        <p class="control" iaBalloon="Only the first {{downloadLimit}} results will be in the file!"
            [iaBalloonVisible]="hasLimitedResults ? undefined : false" iaBalloonLength="fit">
            <button class="button is-primary" [ngClass]="{'is-loading':isDownloading}" type="download"
                (click)="choose_download_method()" [disabled]="howManyResults==0">
                <span class="icon is-small">
                    <i class="fa fa-download"></i>
                </span>
                <span>Download csv</span>
            </button>
        </p>
        <p class="control" iaBalloon="Click here to select which fields should appear in the csv" iaBalloonLength="medium">
            <ia-select-field [availableFields]="availableCsvFields" [filterCriterion]=" 'csv' "
                [label]=" 'Customize' " [selectAll]=" 'true' " [showSelectedFields]="false"
                (selectedFields)="selectCsvFieldsEvent($event)">
            </ia-select-field>
        </p>
    </div>
</div>