.subtitle {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.contextbox {
    margin-top: -.5rem;
}

.extended-selector {
    margin-left: 1rem;
}

.highlights-subtitle {
    text-align: right;
}
