@import '../../_utilities';

::ng-deep .ui-multiselect-panel {
    max-width: 300px;
}

::ng-deep .ui-multiselect-item > label {
    white-space: pre-line !important;
    vertical-align: top;
    // word-break: break-all;
}

::ng-deep .ui-multiselect-panel .ui-multiselect-item .ui-chkbox {
    display: inline-block;
    vertical-align: top;
}

::ng-deep .ui-inputtext {
    border: 1px solid $primary;
    width: 80%;
}

::ng-deep .ui-calendar {
    margin: 1px 0;
}

.filter-container{
    &:hover{
        box-shadow: 0 0 0 1px $primary;
    }
    margin-bottom: 5px;
}

.filter-container.on{
    box-shadow: 0 0 0 2px $primary;
}

.filter-icon {
    border: none;
}