
<div class="box filter-container" [ngClass]="{'on': useAsFilter}">
    <div class="field has-addons">
        <div class="control is-expanded" iaBalloon="{{ field.searchFilter.description }}"
            iaBalloonPosition="up-left" iaBalloonLength="fit">
            <label class="label" [for]="'filter' + field.name">{{ field.displayName
                }}</label>
        </div>
        <p class="control">
            <span *ngIf="useAsFilter" class="button icon filter-icon is-primary is-inverted is-round"
                (click)="resetFilter(field.name)" iaBalloon="Reset this filter to its default values"
                iaBalloonPosition="down-left">
                <i class="fa fa-trash"></i>
            </span>
            <span class="button icon filter-icon is-primary is-inverted is-round" [ngClass]="{'is-primary': useAsFilter}"
                (click)="toggleFilter(field.name)" iaBalloon="{{useAsFilter ? 'Disable this filter' : 'Enable this filter'}}"
                iaBalloonPosition="down-left">
                <i class="fa fa-filter"></i>
            </span>
        </p>
    </div>
    <ng-container *ngIf="filter">
        <div class="bool" *ngIf="filter.name == 'BooleanFilter'">
            <p-checkbox [(ngModel)]="data" binary="true" (onChange)="update()"></p-checkbox>
            {{data | json | titlecase }}
        </div>
        <div class="mc" *ngIf="filter.name == 'MultipleChoiceFilter'">
            <p-multiSelect [disabled]="greyedOut" [filter]="data.options.length>=6" [options]="data.options" [maxSelectedLabels]=1 [(ngModel)]="data.selected" (onPanelHide)="update()"></p-multiSelect>
        </div>
        <div class="range" *ngIf="filter.name == 'RangeFilter'">
            <span>{{data[0]}} - {{data[1]}}</span>
            <p-slider [animate]="true" [(ngModel)]="data" [range]="true" [min]="filter.lower" [max]="filter.upper" (onSlideEnd)="update()"></p-slider>
        </div>
        <div class="daterange" *ngIf="filter.name == 'DateFilter'">
            <p-calendar [(ngModel)]="data.min" [minDate]="filter.lower" [maxDate]="data.max" [monthNavigator]="true" [yearNavigator]="true" yearRange="{{data.minYear}}:{{data.maxYear}}" (onSelect)="update()"
                (onClose)="update()" dateFormat="dd-mm-yy"></p-calendar>
            <p-calendar [(ngModel)]="data.max" [maxDate]="filter.upper" [minDate]="data.min" [monthNavigator]="true" [yearNavigator]="true" yearRange="{{data.minYear}}:{{data.maxYear}}" (onSelect)="update()"
                (onClose)="update()" dateFormat="dd-mm-yy"></p-calendar>
        </div>
    </ng-container>
</div>