@import "../../_utilities";

.hits {
    &.is-loading {
        @extend %content-loader;

        &:after {
            // normally the spinner is placed in the middle, but this component is generally
            // really long so it wouldn't be visible to the user changing the sorting then
            top: 50px;
        }
    }
}

.document {
    .table {
        td, th {
            border: none;
        }
    }

    .relevance-score {
        text-align: center;

        strong, span {
            vertical-align: baseline;
        }

        strong {
            @extend .title;
        }
    }

    &:hover {
        box-shadow: $boxShadowHover;
        cursor: pointer;
    }
}

.hits {
    margin-bottom: 15px;
}

.button.is-primary {
    background-color: $primary;
    border-color: transparent;
    color: $text-primary-color;

    &:hover{
        background-color: $contrast-primary-color;
        border-color: transparent;
        color: $text-primary-color;
    }
}
.title {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1rem;
}

.src-thumbnail {
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 
                0 0 0 1px rgba(10, 10, 10, 0.1);
    margin-top: 5px;

}

.results-navigation {
    background: rgba(255, 255, 255, 1);
    z-index: 100;
    top: 68px;
    position: sticky;

    // less padding because the results navigation field needs a separate section to be allowed to be sticky
    // (or at least meaningfully sticky)
    padding-top: $spacing;
    margin-bottom: $spacing;

    &.is-scrolled-down {
        box-shadow: $boxShadow;
    }
}