<div class="control">
    <ia-dropdown placeholder="Relevance" canDeselect="true" [value]="sortField" [options]="sortableFields" optionLabel="displayName" (onChange)="changeField($event)"></ia-dropdown>
</div>
<div class="control">
    <button class="button" (click)="toggleSortType()" [ngClass]="{ 'is-static': !sortField }">
        <span class="icon" aria-hidden="true">
            <fa-icon [icon]="icons[sortType]"></fa-icon>
        </span>
        <span *ngIf="ascending">Ascending</span>
        <span *ngIf="!ascending">Descending</span>
    </button>
</div>
