 .skip-to-content-link {
    left: 0%;
    position: absolute;
    z-index: 1;
    transform: translateY(-100%);
    padding: 10px;

    &:focus {
        transform: translateY(0%);
    }
}

.navbar-item img {
    max-height: 3rem;
    margin-right: 7px;
}

.navbar-item:not(.has-dropdown) {
    &:hover, &.is-active {
        background-color: var(--bulma-primary-50);
        color: var(--bulma-primary-50-invert);
    }
}

.navbar-burger {
    color: var(--bulma-primary-invert);
}

.navbar-brand {
    text-transform: uppercase;
}

.app-subtitle {
    font-style: italic;
    margin-left: 0.25rem;

    &::before {
        content: '- '
    }
}
