
<div class="box">
    <div class="columns is-multiline">
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="search for bigrams (2 words) or trigrams (3 words)"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Length of n-gram
                </label>
                <div class="control">
                    <ia-dropdown [options]="sizeOptions" [value]="currentSizeOption" optionLabel="label"
                        (onChange)="onParameterChange('size', $event.value)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="only search n-grams with the search term in the specified position"
                iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Position of search term
                </label>
                <div class="control">
                    <ia-dropdown [options]="positionsOptions" [value]="currentPositionsOption" optionLabel="label"
                        (onChange)="onParameterChange('positions', $event.value)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="divide by the average frequency of the words in the n-gram; favours words that are otherwise rare"
                iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Compensate for frequency
                </label>
                <div class="control">
                    <ia-dropdown [options]="freqCompensationOptions" [value]="currentFreqCompensationOption" optionLabel="label"
                        (onChange)="onParameterChange('freqCompensation', $event.value)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third" *ngIf="analysisOptions">
            <div class="field">
                <label class="label" iaBalloon="pre-processing steps on the text, like removing stopwords or stemming"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Language processing
                </label>
                <div class="control">
                    <ia-dropdown [options]="analysisOptions" [value]="currentAnalysisOption" optionLabel="label"
                        (onChange)="onParameterChange('analysis', $event.value)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="maximum number of documents analyzed per time interval"
                iaBalloonPosition="up-left" iaBalloonLength="fit">Document limit</label>
                <div class="control">
                    <ia-dropdown [options]="maxDocumentsOptions" [value]="currentMaxDocumentsOption" optionLabel="label"
                    (onChange)="onParameterChange('maxDocuments', $event.value)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="the number of n-grams displayed in the results"
                iaBalloonPosition="up-left" iaBalloonLength="fit">Number of n-grams</label>
                <div class="control">
                    <ia-dropdown [options]="numberOfNgramsOptions" [value]="currentNumberOfNgramsOption" optionLabel="label"
                    (onChange)="onParameterChange('numberOfNgrams', $event.value)"></ia-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third" *ngIf="allDateFields && allDateFields.length > 1">
        <div class="field">
            <div class="control">
                <label class="label" iaBalloon="field to use on the x-axis">
                    Compare frequencies by:
                </label>
                <ia-dropdown [options]="allDateFields" optionLabel="displayName" [value]="dateField"
                (onChange)="onParameterChange('dateField', $event.name)"></ia-dropdown>
            </div>
        </div>

    </div>
    <div class="level" *ngIf="parametersChanged">
        <div class="level-left"></div>
        <div class="level-right">
            <div class="level-item">
                <button class="button" type="reset" (click)="cancelChanges()">
                    <span class="icon"><fa-icon [icon]="faTimes"></fa-icon></span>
                    <span>Cancel changes</span>
                </button>
            </div>
            <div class="level-item">
                <button class="button is-primary" type="submit" (click)="confirmChanges()">
                    <span class="icon"><fa-icon [icon]="faCheck"></fa-icon></span>
                    <span>Calculate!</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div [ngClass]="{ 'is-hidden': asTable }">
    <div class="block">
        <ia-joyplot [data]="currentResults" [xAxisLabel]="xAxisLabel" [formatValue]="formatValue" [palette]="palette">
        </ia-joyplot>
    </div>
</div>

<div class="block" *ngIf="asTable">
    <ia-freqtable [headers]="tableHeaders" [data]="tableData" [defaultSort]="'date'" [name]="visualizedField.name+'-ngrams'">
    </ia-freqtable>
</div>

