
<div class="box">
    <div class="columns is-multiline">
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="search for bigrams (2 words) or trigrams (3 words)"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Length of n-gram
                </label>
                <div class="control">
                    <ia-dropdown [value]="currentSizeOption"
                        (onChange)="onParameterChange('size', $event.value)">
                        <span iaDropdownLabel>{{currentSizeOption?.label}}</span>
                        <div iaDropdownMenu>
                            <a *ngFor="let option of sizeOptions"
                                iaDropdownItem [value]="option">
                                {{option.label}}
                            </a>
                        </div>
                    </ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="only search n-grams with the search term in the specified position"
                iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Position of search term
                </label>
                <div class="control">
                    <ia-dropdown [value]="currentPositionsOption"
                        (onChange)="onParameterChange('positions', $event.value)">
                        <span iaDropdownLabel>{{currentPositionsOption?.label}}</span>
                        <div iaDropdownMenu>
                            <a *ngFor="let option of positionsOptions"
                                iaDropdownItem [value]="option">
                                {{option.label}}
                            </a>
                        </div>
                    </ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="divide by the average frequency of the words in the n-gram; favours words that are otherwise rare"
                iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Compensate for frequency
                </label>
                <div class="control">
                    <ia-dropdown [value]="currentFreqCompensationOption"
                        (onChange)="onParameterChange('freqCompensation', $event.value)">
                        <span iaDropdownLabel>{{currentFreqCompensationOption?.label}}</span>
                        <div iaDropdownMenu>
                            <a *ngFor="let option of freqCompensationOptions"
                                iaDropdownItem [value]="option">
                                {{option.label}}
                            </a>
                        </div>
                    </ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third" *ngIf="analysisOptions">
            <div class="field">
                <label class="label" iaBalloon="pre-processing steps on the text, like removing stopwords or stemming"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Language processing
                </label>
                <div class="control">
                    <ia-dropdown [value]="currentAnalysisOption"
                        (onChange)="onParameterChange('analysis', $event.value)">
                        <span iaDropdownLabel>{{currentAnalysisOption?.label}}</span>
                        <div iaDropdownMenu>
                            <a *ngFor="let option of analysisOptions"
                                iaDropdownItem [value]="option">
                                {{option.label}}
                            </a>
                        </div>
                    </ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="maximum number of documents analyzed per time interval"
                iaBalloonPosition="up-left" iaBalloonLength="fit">Document limit</label>
                <div class="control">
                    <ia-dropdown [value]="currentMaxDocumentsOption"
                        (onChange)="onParameterChange('maxDocuments', $event.value)">
                        <span iaDropdownLabel>{{currentMaxDocumentsOption?.label}}</span>
                        <div iaDropdownMenu>
                            <a *ngFor="let option of maxDocumentsOptions"
                                iaDropdownItem [value]="option">
                                {{option.label}}
                            </a>
                        </div>
                    </ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="the number of n-grams displayed in the results"
                iaBalloonPosition="up-left" iaBalloonLength="fit">Number of n-grams</label>
                <div class="control">
                    <ia-dropdown [value]="currentNumberOfNgramsOption"
                        (onChange)="onParameterChange('numberOfNgrams', $event.value)">
                        <span iaDropdownLabel>{{currentNumberOfNgramsOption?.label}}</span>
                        <div iaDropdownMenu>
                            <a *ngFor="let option of numberOfNgramsOptions"
                                iaDropdownItem [value]="option">
                                {{option.label}}
                            </a>
                        </div>
                    </ia-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third" *ngIf="allDateFields && allDateFields.length > 1">
        <div class="field">
            <div class="control">
                <label class="label" iaBalloon="field to use on the x-axis">
                    Compare frequencies by:
                </label>
                <ia-dropdown [value]="dateField"
                    (onChange)="onParameterChange('dateField', $event)">
                    <span iaDropdownLabel>{{dateField?.displayName}}</span>
                    <div iaDropdownMenu>
                        <a *ngFor="let field of allDateFields"
                            iaDropdownItem [value]="field.name">
                            {{field.displayName}}
                        </a>
                    </div>
                </ia-dropdown>
            </div>
        </div>

    </div>
    <div class="level" *ngIf="parametersChanged">
        <div class="level-left"></div>
        <div class="level-right">
            <div class="level-item">
                <button class="button" type="reset" (click)="cancelChanges()">
                    <span class="icon"><fa-icon [icon]="formIcons.reset"></fa-icon></span>
                    <span>Cancel changes</span>
                </button>
            </div>
            <div class="level-item">
                <button class="button is-primary" type="submit" (click)="confirmChanges()">
                    <span class="icon"><fa-icon [icon]="formIcons.confirm"></fa-icon></span>
                    <span>Calculate!</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div [ngClass]="{ 'is-hidden': asTable, 'is-loading':isLoading}">
    <div class="block">
        <ia-joyplot [data]="currentResults" [formatValue]="formatValue" [palette]="palette" quantity="frequency"
            [comparedByQuantity]="dateField?.displayName">
        </ia-joyplot>
    </div>
</div>

<div class="block" *ngIf="asTable">
    <ia-freqtable [headers]="tableHeaders" [data]="tableData" [defaultSort]="'date'" [name]="visualizedField.name+'-ngrams'">
    </ia-freqtable>
</div>

<ia-full-data-button (requestFullData)="requestFullData()"></ia-full-data-button>
