<div class="box">
    <div class="columns is-multiline">
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="search for bigrams (2 words) or trigrams (3 words)"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Length of n-gram
                </label>
                <div class="control">
                    <ia-dropdown [options]="sizeOptions" [value]="sizeOptions[0]" optionLabel="label"
                        (onChange)="size = $event.value"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="only search n-grams with the search term in the specified position"
                iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Position of search term
                </label>
                <div class="control">
                    <ia-dropdown [options]="positionsOptions" [value]="positionsOptions[0]" optionLabel="label"
                        (onChange)="positions = $event.value"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="divide by the average frequency of the words in the n-gram; favours words that are otherwise rare"
                iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Compensate for frequency
                </label>
                <div class="control">
                    <ia-dropdown [options]="freqCompensationOptions" [value]="freqCompensationOptions[0]" optionLabel="label"
                        (onChange)="freqCompensation = $event.value"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third" *ngIf="analysisOptions">
            <div class="field">
                <label class="label" iaBalloon="pre-processing steps on the text, like removing stopwords or stemming"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Language processing
                </label>
                <div class="control">
                    <ia-dropdown [options]="analysisOptions" [value]="analysisOptions[0]" optionLabel="label"
                        (onChange)="analysis = $event.value"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="maximum number of documents analyzed per time interval"
                iaBalloonPosition="up-left" iaBalloonLength="fit">Document limit</label>
                <div class="control">
                    <ia-dropdown [options]="maxDocumentsOptions" [value]="maxDocumentsOptions[0]" optionLabel="label"
                    (onChange)="maxDocuments = $event.value"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="the number of n-grams displayed in the results"
                iaBalloonPosition="up-left" iaBalloonLength="fit">Number of n-grams</label>
                <div class="control">
                    <ia-dropdown [options]="numberOfNgramsOptions" [value]="numberOfNgramsOptions[0]" optionLabel="label"
                    (onChange)="numberOfNgrams = $event.value"></ia-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>


<div [ngClass]="{ 'is-hidden': asTable }">
    <div class="block">
        <canvas id="chart" width="400" height="200"></canvas>
    </div>

    <div class="field">
        <label class="checkbox" iaBalloon="scale the line graph for each ngram to the same size">
            <input type="checkbox" [checked]="fixLineGraphHeights" (change)="setFixLineHeights($event)">
            Fixed height for line graphs
        </label>
    </div>
</div>

<div class="block" *ngIf="asTable">
    <ia-freqtable [headers]="tableHeaders" [data]="tableData" [defaultSort]="'date'" [name]="visualizedField.name+'-ngrams'">
    </ia-freqtable>
</div>

