<section class="section">

    <form (ngSubmit)="login()" class="container is-readable">
        <div class="container is-login">
           <div *ngIf="isActivated">
                <article class="message is-success">
                        <div class="message-header">
                          <p>Success</p>
                        </div>
                        <div class="message-body">
                           Your registration is complete. You can now log in.
                        </div>
                      </article>
                      <br>
           </div>
            <h1 class="title">I-Analyzer</h1>
            <div class="field">
                <label for="username">Username</label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" [(ngModel)]="username" name="username" />
                    <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                </span>
                </p>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <p class="control has-icons-left">
                    <input class="input" type="password" [(ngModel)]="password" name="password" />
                    <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                </span>
                </p>
            </div>
            <div class="level">
                <div class="level-left">
                <div class="level-item">
                <p class="control">
                    <button class="button is-primary" [ngClass]="{'is-loading':isLoading}">Login</button>
                </p>
                </div>
                </div>
                <div class=level-right>
                <div class="level-item">
                <a [routerLinkActive]="'is-active'" [routerLink]="['/reset']">
                    Forgot password?
                </a>
                </div>
                <div class="level-item">
                <a [routerLinkActive]="'is-active'" [routerLink]="['/registration']">
                    <span class="icon">
                        <i class="fa fa-user"></i>
                    </span>
                    Sign Up
                </a>
                </div>
                </div>
            </div>
            <div *ngIf="showSolis">
                <div class="field">
                    <p class="control">
                        Or login with:
                    </p>
                </div>
                <div>
                    <a class="box" href='/api/init_solislogin'>
                        <img src="/assets/solis.png" width="40" height="40">
                        <span><strong>Solis ID</strong></span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="section">
    <div class="container">
        <div class="notification is-danger" *ngIf="isWrong" [ngClass]="{'is-loading':isLoading}">
            <strong>Invalid username or password</strong>. Please try again.
        </div>
        <div class="notification is-danger" *ngIf="hasError" [ngClass]="{'is-loading':isLoading}">
            <strong>Something went wrong while logging you in</strong>. Please try again.
        </div>
    </div>
</section>
