<div class="field is-grouped is-grouped-multiline" *ngIf="document?.tags$ | async as tags">
    <div class="control tags has-addons" *ngFor="let tag of tags">
        <span class="tag is-primary">
            {{tag.name}}
        </span>
        <button class="button tag" [attr.aria-label]="'remove tag ' + tag.name"
            iaBalloon="remove this tag" iaBalloonPosition="up"
            (click)="removeTag(tag)">
            <span class="icon"><fa-icon [icon]="faTimes" aria-hidden="true"></fa-icon></span>
        </button>
    </div>

    <div class="control">
        <ng-container *ngIf="showAddNew; else toggleAddNew">
            <ia-tag-select [exclude]="tags" (selection)="addTag($event)" (cancel)="showAddNew = false"></ia-tag-select>
        </ng-container>

        <ng-template #toggleAddNew>
            <button class="button tag" aria-label="add a tag"
                iaBalloon="add a tag" iaBalloonPosition="up"
                (click)="showAddNew = true">
                <span class="icon"><fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon></span>
            </button>
        </ng-template>
    </div>

</div>
