<form class="field has-addons">
    <div class="control" *ngIf="!createMode">
        <ng-container *ngIf="filterTags(tags$ | async, exclude) as filteredTags">
            <ia-dropdown (onChange)="selectedTag = $event" [class]="tag-button">
                <span iaDropdownLabel>{{selectedTag?.name || 'Assign a tag'}}</span>
                <div iaDropdownMenu>
                    <a *ngFor="let tag of filteredTags"
                        iaDropdownItem [value]="tag">
                        {{tag.name}}
                    </a>
                    <a iaDropdownItem (selected)="toggleCreate()">
                        <span class="icon"><fa-icon [icon]="actionIcons.add"></fa-icon></span>
                        <span>Create a new tag</span>
                    </a>
                </div>
            </ia-dropdown>
        </ng-container>
    </div>
    <div class="control"  *ngIf="createMode">
        <input type="text"
            class="input is-small tag-input" placeholder="Enter tag name"
            name="tag-name"
            [(ngModel)]="newTagName">
    </div>
    <div class="control">
        <button
            class="button tag"
            aria-label="confirm"
            type="submit"
            (click)="createMode ? createTag() : addTag()"
            [disabled]="createMode ? !newTagName?.length : !selectedTag"
            >
            <span class="icon"><fa-icon [icon]="formIcons.confirm"></fa-icon></span>
        </button>
    </div>
    <div class="control">
        <button class="button tag" aria-label="cancel" type="reset" (click)="cancel.emit()"
            type="button">
            <span class="icon"><fa-icon [icon]="formIcons.reset"></fa-icon></span>
        </button>
    </div>
</form>
