<h2 class="title is-4">Change username</h2>

<p class="block">
    You can change the name that you use to sign in to {{appName}}.
</p>

<form [formGroup]="form">
    <div class="field">
        <div class="control">
            <label for="input-username" class="label">
                Username
            </label>
            <input type="text" id="input-username" class="input"
                [class.is-danger]="!!invalidFeedback"
                [formControl]="form.controls.name">
        </div>
        <div class="input-feedback" aria-live="polite">
            <div class="message is-danger" [class.is-hidden]="!invalidFeedback">
                <p class="message-body">
                    {{invalidFeedback}}
                </p>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-primary" (click)="submitName()">
                <span class="icon"><fa-icon [icon]="formIcons.confirm" /></span>
                <span>Save new username</span>
            </button>
        </div>
    </div>
    <div aria-live="polite">
        <div class="message is-success" [class.is-hidden]="!successFeedback">
            <p class="message-body">
                {{successFeedback}}
            </p>
        </div>
        <div class="message is-danger" [class.is-hidden]="!errorFeedback">
            <p class="message-body">
                {{errorFeedback}}
            </p>
        </div>
    </div>
</form>
