<section class="section">
    <div class="container is-readable">
        <header class="site-header block">
            <h1 class="title is-2">{{appTitle.title}}</h1>
            <p class="subtitle is-3">{{appTitle.subtitle}}</p>
        </header>

        <div class="content">
            <p>
                Textcavator is a tool for exploring corpora (large collections of texts).
                You can use textcavator to find relevant documents or visualise wider trends
                in the corpus.
            </p>

            <p>
                Designed with and for researchers in the humanities and social sciences,
                Textcavator offers an accessible interface to search a wide variety of
                corpora, such as newspaper archives, online book reviews, and
                judicial hearings. Additional corpora are available for members
                of Utrecht University.
            </p>

            <p>
                Find out more about Textcavator on our <a href="/about">about page</a>,
                or start searching a corpus below.
            </p>
        </div>
    </div>
</section>

<ia-corpus-selection />

