<nav class="navbar" *ngIf="currentUser" aria-label="primary navigation">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" [routerLink]="['/home']">
                <img src="/assets/logo.png" aria-hidden="true" width="50" height="50">
                I-ANALYZER
            </a>

            <a (click)="toggleMenu($event)" role="button" [ngClass]="{'navbar-burger': true, 'is-active': menuOpen}" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" [class.is-active]="menuOpen">
            <div class="navbar-start">
                <!-- navbar items -->
                <a class="navbar-item" [routerLinkActive]="'is-active'" [routerLink]="['/home']">
                    <span class="icon" aria-hidden="true">
                        <i class="fa fa-database"></i>
                    </span>
                    Corpora
                </a>
                <a class="navbar-item" [routerLinkActive]="'is-active'" [routerLink]="['/manual', 'main']">
                    <span class="icon" aria-hidden="true">
                        <i class="fa fa-book"></i>
                    </span>
                    Manual
                </a>
                <a class="navbar-item" [routerLinkActive]="'is-active'" [routerLink]="['/about']">
                    <span class="icon" aria-hidden="true">
                        <i class="fa fa-info-circle"></i>
                    </span>
                    About
                </a>
            </div>
            <div class="navbar-end">
                <!-- navbar items -->
                <div class="navbar-item has-dropdown"
                    [class.is-active]="dropdownOpen$ | async">
                    <a class="navbar-link"
                        tabindex="0" role="button"
                        (click)="toggleDropdown()"
                        (keydown.enter)="toggleDropdown()">
                        <span class="icon" aria-hidden="true">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        {{currentUser.name}}
                        <!-- drop down menu to log out, or see previous queries-->
                    </a>
                    <div class="navbar-dropdown is-right"
                        id="userDropdown" #userDropdown>
                        <a class="navbar-item"
                            [routerLink]="['/search-history']">
                            Search history
                        </a>
                        <a class="navbar-item"
                            [routerLink]="['/download-history']">
                            Downloads
                        </a>
                        <a class="navbar-item"
                            [routerLink]="['/settings']">
                            Settings
                        </a>
                        <a class="navbar-item"
                            href="{{adminUrl}}">
                            Administration
                        </a>
                        <a class="navbar-item"
                            role="button"
                            tabindex="0"
                            (click)="logout()"
                            (keydown.enter)="logout()">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
