<div class="content" [attr.lang]="document.language(field)">
    @if (showEntities) {
        @let value = document.namedEntityAnnotatedValue(field);
        @for (p of splitParagraphs(value); track p) {
            @for (segment of p | annotationSegments; track segment) {
                @if (segment.annotation) {
                    @let name = annotationName(segment.annotation);
                    <mark class="entity-{{name}}"
                        >{{segment.content}}
                        @if (name) {
                            <fa-icon [icon]="entityIcons[name]"  class="entity-icon"/>
                        }
                    </mark>
                } @else {
                    {{segment.content}}
                }
            }
        }
        <ia-entity-legend *ngIf="showEntities" />
    } @else {
        <div [innerHtml]="field | elasticsearchHighlight:document | paragraph"></div>
    }
</div>
