<div *ngIf="showEntities && document.entityAnnotations$ | async as annotations ; else showHighlights"
    class="content"
    [attr.lang]="document.language(field)">
    <div *ngIf="annotations[field.name]; else plainText"
        [innerHtml]="annotations[field.name] | entity | paragraph">
    </div>
    <ng-template #plainText>
        <div [innerHtml]="document.fieldValues[field.name] | paragraph"></div>
    </ng-template>
    <ia-entity-legend *ngIf="showEntities" [entityAnnotations]="annotations[field.name]"></ia-entity-legend>
</div>
<ng-template #showHighlights>
    <div class="content"
        [attr.lang]="document.language(field)"
        [innerHtml]="field | elasticsearchHighlight:document | paragraph">
    </div>
</ng-template>
