@import "../../_utilities";

.p-active, .p-highlight {
    background-color: $primary !important;
    color: $primary-invert !important;
}

.p-datatable-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.toggle-div {
    padding-bottom: .4rem;
}
