<p-table [value]="tableData" [paginator]="true" [rows]="15" sortField={{defaultSort}} sortOrder={{defaultSortOrder}}>
    <ng-template pTemplate="header">
        <tr class="is-selected">
            <th [pSortableColumn]="'key'">
                {{visualizedField.displayName}}
                <p-sortIcon [field]="'key'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'doc_count'">
                <ng-container>{{rightColumnName}}</ng-container>
                <p-sortIcon [field]="'doc_count'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
        <tr>
            <td>{{entry.key}}</td>
            <td *ngIf="!asPercent">{{entry.doc_count || entry.similarity}}</td>
            <td *ngIf="asPercent">{{entry.doc_count_fraction | percent:'1.0-2'}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <a class="button" (click)="downloadTable()">
            <span class="icon is-small">
                <i class="fa fa-download"></i>
            </span>
            <span>Download table data</span>
        </a>
    </ng-template>
</p-table>
