<p-table [value]="data" [paginator]="true" [rows]="15" sortField={{defaultSort}} sortOrder={{defaultSortOrder}}>
    <ng-template pTemplate="header">
        <tr class="is-selected">
            <th *ngFor="let col of headers" [pSortableColumn]="col.key">
                {{col.label}}
                <p-sortIcon [field]="col.key"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
        <tr>
            <td *ngFor="let col of headers">{{col.format != undefined ? col.format(entry[col.key]) : entry[col.key]}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <a class="button" (click)="downloadTable()">
            <span class="icon is-small">
                <i class="fa fa-download"></i>
            </span>
            <span>Download table data</span>
        </a>
    </ng-template>
</p-table>
