<div class="block">
    <ia-histogram-options
        [queryText]="queryModel ? queryModel.queryText : undefined" [showTokenCountOption]="totalTokenCountAvailable"
        (options)="onOptionChange($event)" (newQuery)="addSeries($event)">
    </ia-histogram-options>
</div>

<div class="block" [ngClass]="{ 'is-hidden': asTable }">
    <canvas id="histogram" width="400" height="200" aria-label="histogram" role="img"></canvas>
</div>

<div class="block" *ngIf="asTable">
    <ia-freqtable [headers]="tableHeaders" [data]="selectedData" [defaultSort]="defaultSort" [name]="visualizedField ? visualizedField.name : ''">
    </ia-freqtable>
</div>

<div class="message is-warning" *ngIf="documentLimitExceeded && frequencyMeasure == 'tokens'">
    <div class="message-body">
        The results for your search include too many documents to count all matches.
        Only the first {{percentageDocumentsSearched}}% of documents for each bin are analyzed;
        the rest are assumed to have only one match for your query.
    </div>
</div>

<a class="button" (click)="showHistogramDocumentation()">
    <span class="icon">
        <i class="fa fa-question-circle"></i>
    </span>
</a>
