<div class="box">
    <div class="columns is-multiline">
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="search for bigrams (2 words) or trigrams (3 words)"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Length of n-gram
                </label>
                <div class="control">
                    <ia-dropdown [options]="sizeOptions" [value]="sizeOptions[0]" optionLabel="label" (onChange)="onOptionChange('size', $event)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="only search n-grams with the search term in the specified position"
                iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Position of search term
                </label>
                <div class="control">
                    <ia-dropdown [options]="positionsOptions" [value]="positionsOptions[0]" optionLabel="label" (onChange)="onOptionChange('position', $event)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="divide by the average frequency of the words in the n-gram; favours words that are otherwise rare"
                iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Compensate for frequency
                </label>
                <div class="control">
                    <ia-dropdown [options]="freqCompensationOptions" [value]="freqCompensationOptions[0]" optionLabel="label" (onChange)="onOptionChange('freq_compensation', $event)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-half" *ngIf="analysisOptions">
            <div class="field">
                <label class="label" iaBalloon="pre-processing steps on the text, like removing stopwords or stemming"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Language processing
                </label>
                <div class="control">
                    <ia-dropdown [options]="analysisOptions" [value]="analysisOptions[0]" optionLabel="label" (onChange)="onOptionChange('analysis', $event)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="maximum number of documents analyzed per time interval"
                iaBalloonPosition="up-left" iaBalloonLength="fit">Document limit</label>
                <div class="control">
                    <ia-dropdown [options]="maxDocumentsOptions" [value]="maxDocumentsOptions[1]" optionLabel="label" (onChange)="onNgramOptionChange('max_size', $event)"></ia-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>

<p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
