<div *ngIf="!asTable">
    <p-chart *ngIf="!zoomedInData" type="line" [data]="graphData" [options]="chartOptions" (onDataSelect)="zoomTimeInterval($event)"></p-chart>
    <div *ngIf="zoomedInData">
        <a class="button" [iaBalloon]="'go back'" (click)="zoomBack()">
                <span class="icon">
                    <i class="fa fa-undo"></i>
                </span>
        </a>
        <p-chart type="bar" [data]="zoomedInData" [options]="chartOptions"></p-chart>
    </div>
</div>

<div class="block" *ngIf="asTable">
    <ia-freqtable  [headers]="tableHeaders" [data]="tableData" [defaultSort]="'similarity'" [name]="'related words'">
    </ia-freqtable>
</div>

<a class="button" (click)="showRelatedWordsDocumentation()">
    <span class="icon">
        <i class="fa fa-question-circle"></i>
    </span>
</a>
