<p-chart *ngIf="!zoomedInData" type="line" [data]="searchData" [options]="chartOptions" (onDataSelect)="zoomTimeInterval($event)"></p-chart>
<div *ngIf="zoomedInData">
    <a class="button" (click)="zoomBack()">
            <span class="icon">
                <i class="fa fa-undo"></i>
            </span>
    </a>
    <p-chart type="bar" [data]="zoomedInData" [options]="chartOptions"></p-chart>
</div>
<a class="button" (click)="showRelatedWordsDocumentation()">
    <span class="icon">
        <i class="fa fa-question-circle"></i>
    </span>
</a>