@import "barchart.component";

div.tooltip {
    line-height: 1;
    font-size: 12px;
    padding: 12px;
    background: rgba(0, 0, 0, 1);
    opacity: .8;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    visibility: hidden;
}