<div *ngIf="noVisualizations">
    <b> This corpus has no fields with associated visualizations. </b>
</div>

<div class="block" *ngIf="!noVisualizations" #viscontrol>
	<p-dropdown [options]="visDropdown" (onChange)="setVisualizedField($event.value)"></p-dropdown>
	<!-- Buttons for switching between table and graphical representation -->
	<button [class.button]="true" [class.is-primary]="freqtable" (click)="showTable()" style="float:right">
		<i class="fa fa-table" aria-hidden="true"></i>
	</button>

	<button [class.button]="true" [class.is-primary]="!freqtable" (click)="showChart()" style="float:right">
		<i class="fa fa-bar-chart" aria-hidden="true"></i>
	</button>
</div>


<div class="box" *ngIf="visualizedField.visualizationType == 'ngram'">
    <!-- controls for the ngram graph -->
    <div class="columns is-multiline">
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="search for bigrams (2 words) or trigrams (3 words)"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Length of n-gram
                </label>
                <div class="control">
                    <ia-dropdown [options]="ngramSizeOptions" [value]="ngramSizeOptions[0]" optionLabel="label" (onChange)="onNgramOptionChange('size', $event)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="only search n-grams with the search term in the specified position"
                iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Position of search term
                </label>
                <div class="control">
                    <ia-dropdown [options]="ngramPositionOptions" [value]="ngramPositionOptions[0]" optionLabel="label" (onChange)="onNgramOptionChange('position', $event)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="divide by the average frequency of the words in the n-gram; favours words that are otherwise rare"
                iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Compensate for frequency
                </label>
                <div class="control">
                    <ia-dropdown [options]="ngramFreqCompensationOptions" [value]="ngramFreqCompensationOptions[0]" optionLabel="label" (onChange)="onNgramOptionChange('freq_compensation', $event)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-half" *ngIf="ngramAnalysisOptions">
            <div class="field">
                <label class="label" iaBalloon="pre-processing steps on the text, like removing stopwords or stemming"
                    iaBalloonPosition="up-left" iaBalloonLength="fit">
                    Language processing
                </label>
                <div class="control">
                    <ia-dropdown [options]="ngramAnalysisOptions" [value]="ngramAnalysisOptions[0]" optionLabel="label" (onChange)="onNgramOptionChange('analysis', $event)"></ia-dropdown>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field">
                <label class="label" iaBalloon="maximum number of documents analyzed per time interval"
                iaBalloonPosition="up-left" iaBalloonLength="fit">Document limit</label>
                <div class="control">
                    <ia-dropdown [options]="ngramMaxSizeOptions" [value]="ngramMaxSizeOptions[1]" optionLabel="label" (onChange)="onNgramOptionChange('max_size', $event)"></ia-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="(aggResults && aggResults.length>0 || relatedWordsGraph || ngramGraph || timeline); else noVisualsMessage">
    <div class="checkbox" *ngIf="(visualizedField.visualizationType!='wordcloud' && visualizedField.visualizationType!='relatedwords'  && visualizedField.visualizationType!='ngram' && visualizedField.visualizationType!='search_term_frequency') || (freqtable && visualizedField.visualizationType != 'relatedwords'  && visualizedField.visualizationType!='ngram')">
    	<label>
    		<input type="checkbox" name="percentageToggle" [(ngModel)]="asPercentage">Display
    		as Percentage
    	</label>
    </div>  
    <div  [ngClass]="{'is-loading':isLoading}" *ngIf="!freqtable">
        <ng-container [ngSwitch]="visualizedField.visualizationType">
            <ia-term-frequency *ngSwitchCase="'term_frequency'" [searchData]="aggResults" [visualizedField]="visualizedField" 
    		 [asPercent]="asPercentage">
    		</ia-term-frequency>
    		<ia-timeline *ngSwitchCase=" 'timeline' " [corpus]="corpus" [queryModel]="queryModel" [visualizedField]="visualizedField"
    		[asPercent]="asPercentage" (isLoading)="onIsLoading($event)"></ia-timeline>
            <ia-wordcloud *ngSwitchCase=" 'wordcloud' " [searchData]="aggResults" [disableLoadMore]="disableWordCloudLoadMore" (loadMore)="loadMoreWordcloudData()"></ia-wordcloud>
            <ia-related-words  *ngSwitchCase=" 'relatedwords' " [searchData]="relatedWordsGraph" [queryText]="queryModel.queryText" [corpusName]="corpus.name" (error)="setErrorMessage($event)"></ia-related-words>
            <ia-ngram *ngSwitchCase=" 'ngram' " [searchData]="ngramGraph"></ia-ngram>
            <ia-search-term-frequency *ngSwitchCase=" 'search_term_frequency' "></ia-search-term-frequency>
        </ng-container>
    </div>
    <ng-container *ngIf="freqtable">
        <ng-container [ngSwitch]="visualizedField.visualizationType">
        	<ia-freqtable *ngSwitchCase="'timeline'" [visualizedField]="visualizedField" [asPercent]="asPercentage">
            </ia-freqtable>
            <ia-freqtable  *ngSwitchCase="'relatedwords'" [searchData]="relatedWordsTable" [visualizedField]="visualizedField" [asPercent]="asPercentage">
            </ia-freqtable>
            <ia-freqtable *ngSwitchDefault [searchData]="aggResults" [visualizedField]="visualizedField" [asPercent]="asPercentage">
            </ia-freqtable>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #noVisualsMessage>
    <b> {{foundNoVisualsMessage}} </b>
    <div class="container" *ngIf="errorMessage && errorMessage.length > 0">
        <div class="notification is-warning">
            {{errorMessage}}
        </div>
    </div>
</ng-template>