<div class="block" [ngClass]="{ 'is-hidden': asTable }">
    <div class="wordcloud" #wordcloud></div>
</div>

<div class="block" *ngIf="asTable">
    <ia-freqtable *ngSwitchDefault [searchData]="significantText">
    </ia-freqtable>
</div>

<a class="button" (click)="showWordcloudDocumentation()">
    <span class="icon">
        <i class="fa fa-question-circle"></i>
    </span>
</a>
<button class="button" [ngClass]="{'is-loading': isLoading}" [attr.disabled]="disableLoadMore? '' : null" (click)="loadMoreData()">
    <span iaBalloon="Load up to 100,000 results to your search query." iaBalloonLength="medium">Load more results</span>
</button>