<ia-corpus-header [corpus]="corpus" currentPage="document"></ia-corpus-header>
<div class="section">
    <div class="container is-readable">
        <div class="message is-danger" *ngIf="documentNotFound">
            <div class="message-body">
                Cannot find document "{{documentId}}" in {{corpus.title}}
            </div>
        </div>
        <div class="block" *ngIf="document">
            <ia-document-view [document]="document" [corpus]="corpus" [fields]="corpus.fields"></ia-document-view>
        </div>
    </div>
</div>
