<ia-corpus-header [corpus]="corpus" currentPage="document"></ia-corpus-header>
<div class="section">
    <div class="container is-readable">
        <div *ngIf="!documentNotFound; else notFound" [ngClass]="{'is-loading': !document}">
            <div class="level">
                <div class="level-left"></div>
                <div class="level-right">
                    <div class="level-item" *ngIf="hasContext">
                        <a [routerLink]="contextLink" [queryParams]="contextQueryParams" iaBalloon="view all documents from this {{contextDisplayName}}">
                            <span class="icon"><fa-icon [icon]="contextIcon"></fa-icon></span>
                            <span>View {{contextDisplayName}}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="block">
                <ia-document-view *ngIf="document" [document]="document" [corpus]="corpus" [fields]="corpus.fields"></ia-document-view>
            </div>
        </div>
    </div>
</div>

<ng-template #notFound>
    <div class="message is-danger" *ngIf="documentNotFound">
        <div class="message-body">
            Cannot find document "{{documentId}}" in {{corpus.title}}
        </div>
    </div>
</ng-template>
