<div class="notifications">
    <div class="notification {{notification.class}}" *ngFor="let notification of notifications"
        [ngClass]="{'fade-out': notification.fadeOut}">
        <button *ngIf="notification.canDelete" class="delete" (click)="remove(notification)"></button>
        <div class="content">
            <p>{{notification.message}}</p>
            <p *ngIf="notification.link">
                <a [routerLink]="notification.link.route">{{notification.link.text}}</a>
            </p>
        </div>
    </div>
</div>
