<section class="section">
        <div class="columns is-centered">
            <div>
                <form (ngSubmit)="requestReset(requestResetForm)" class="container is-readable" #requestResetForm="ngForm">
                    <div class="container is-login">
                        <h1 class="title">Reset password</h1>
                        <div class="field">
                            <label for="email">Email</label>
                            <p class="control has-icons-left">
                                <input class="input" type="email" name="email" ngModel #email="ngModel" required email
                                    placeholder="Enter the e-mail address with which you registered for I-Analyzer." (input)="disableNotification()" />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                            <div class="notification is-warning" *ngIf="email.errors?.required && (email.dirty || email.touched)">
                                Email is required.
                            </div>
                            <div class="notification is-warning" class="notification is-warning" *ngIf="email.errors?.pattern && email.touched">
                                Please enter a valid email address.
                            </div>
                            <div *ngIf="showMessage && message" class="notification" [ngClass]="{'is-danger': !success, 'is-success': success}">{{message}}</div>
                        </div>

                        <div class="field">
                            <p class="control">
                                <button class="button is-primary" [disabled]="!requestResetForm.form.valid">Request password reset<link rel="stylesheet" href=""></button>
                            </p>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</section>
