<section class="section">
        <div class="columns is-centered">
            <div *ngIf="!resetSucceeded || passwordRejected">
                <form (ngSubmit)="reset(resetForm)" class="container is-readable" #resetForm="ngForm">
                    <div class="container is-login">
                        <h1 class="title">I-Analyzer password reset</h1>
                        <div class="field">
                            <label>Password</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="Enter a password of at least 8 characters." ngModel
                                    #password="ngModel" required minlength="8" />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <label>Confirm password</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="passwordconfirm" ngModel #passwordconfirm="ngModel"
                                    required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>

                        <div class="notification is-warning"
                            *ngIf="(resetForm.invalid|| resetForm.value?.password !== resetForm.value?.passwordconfirm) && (resetForm.touched)">
                            <div *ngIf = "resetForm.invalid; else nomatch">
                                Password needs to be at least 8 characters.
                            </div>
                            <ng-template #nomatch >
                                Passwords don't match.
                            </ng-template>
                        </div>
                        <div *ngIf="passwordRejected" class="notification is-warning">
                            {{message}}
                        </div>

                        <div class="field">
                            <p class="control">
                                <button class="button is-primary"
                                    [disabled]="!resetForm.touched || resetForm.invalid || resetForm.value?.password !== resetForm.value?.passwordconfirm"
                                    [ngClass]="{'is-loading':isLoading}">Reset password</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Error and success messages -->
            <div *ngIf="resetSucceeded === true" class="notification is-success">{{message}}<br />Redirecting you to the
                login page...</div>
            <div *ngIf="resetSucceeded === false" class="notification is-danger">
                {{message}}
            </div>
            <div *ngIf="tokenRejected" class="notification is-danger">
                Invalid or expired token. Please try requesting a new <a [routerLink]="['/reset']">password reset </a>.
            </div>

        </div>
</section>
