.corpus-container {
    padding: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    > .column {
        padding: 1rem; // slightly more generous padding
    }
}


.image-column {
    position: relative;
    overflow-y: hidden;
}

.corpus-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.title-row {
    margin-bottom: 0px;
}

.title-divider {
    margin-top: 0px;
    margin-bottom: 1rem;
}

.columns .align-bottom {
    align-items: end;
}

strong {
    color: inherit;
}
