@import "../../../_utilities";

.corpus-container {
    padding: 0;
    color: $text-primary-color;
    text-decoration: none;
    background-color: $primary;

    > .column {
        padding: 1rem; // slightly more generous padding
    }
}


.image-column {
    position: relative;
    overflow-y: hidden;
}

.corpus-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}


.info-icon {
    color: white;
}


.corpus-action {
    border: 1px solid $contrast-primary-color;
    color: $text-primary-color;
    cursor: pointer;
    text-decoration: none;
    background-color: $contrast-primary-color;

    &:hover {
        color: $text-primary-color;
    }
}

.title-row {
    margin-bottom: 0px;
}

.title-divider {
    margin-top: 0px;
    margin-bottom: 1rem;
}

.title-content {
    font-size: 1.5em;
    cursor: pointer;
    color: white !important;
}

.moreInfoLink {
    background: none;
    border: none;
    font-size: 1.25em;
}

.columns .align-bottom {
    align-items: end;
}

strong {
    color: inherit;
}
