
<p class="title" align="center"> Showing search history </p>
<table>
  <tr>
    <th>Timestamp</th>
    <th>Query text</th>
    <th>Filters</th>
    <th>Number of Results</th>
    <th *ngIf="displayCorpora">Corpus</th>
  </tr>
  <tr *ngFor="let query of queries" (click)="returnToSavedQuery()">
    <td>{{query.completed}}</td>
    <td>{{query.query | displayQueryText }}</td>
    <td [innerHtml]="query.query | displayFilter"></td>
    <td>{{query.transferred}}</td>
    <td *ngIf="displayCorpora">{{query.corpusName}}</td>
  </tr>
</table>