<div class="container is-readable">
  <div class="column is-12">
    <p class="title" align="center"> Showing search history </p>
    <table is-hoverable>
      <thead>
        <th class="title is-4">Timestamp </th>
        <th class="title is-4">Query</th>
        <th class="title is-4">Filters</th>
        <th class="title is-4">#Results</th>
        <th *ngIf="displayCorpora"> <p-multiSelect [options]="corpora" [(ngModel)]="selectedCorpora" defaultLabel="Corpus" (onChange)="queriesForCorpora()"> </p-multiSelect> </th>
      </thead>
      <tbody>
        <tr history-query-display *ngFor="let query of queries" (click)="returnToSavedQuery(query)" [timeStamp]="query.completed" [queryModel]="query.query" [numberResults]="query.transferred" [displayCorpora]="displayCorpora" [corpus]="query.corpusName" >
        </tr>
      </tbody>
    </table>
  </div>
</div>
