<div class="field is-grouped is-grouped-multiline">
    <div class="control tags has-addons" *ngFor="let tag of (document?.tags$ | async)">
        <span class="tag is-primary">
            {{tag.name}}
        </span>
        <button class="button tag" [attr.aria-label]="'remove tag ' + tag.name"
            iaBalloon="remove this tag" iaBalloonPosition="up"
            (click)="removeTag(tag)">
            <span class="icon"><fa-icon [icon]="faTimes" aria-hidden="true"></fa-icon></span>
        </button>
    </div>

    <div class="control">
        <ia-tag-select></ia-tag-select>

        <!-- <button class="button tag" aria-label="add a tag"
            iaBalloon="add a tag" iaBalloonPosition="up"
            (click)="tagMenu.toggle($event)">
            <span class="icon"><fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon></span>
        </button> -->
    </div>

</div>
