<form class="block">
    <div class="field">
        <label class="label">Nearest neighbours to include:</label>
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="number" value="5" min="0" name="neighbours"
                    [(ngModel)]="neighbours">
            </div>
            <div class="control">
                <button class="button is-primary" type="submit" (click)="getData()">
                    <span class="icon">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </span>
                    <span>Confirm</span>
                </button>
            </div>
        </div>
    </div>
</form>

<div class="block">
    <ia-similarity-chart [timeIntervals]="timeIntervals" [totalData]="totalData" [zoomedInData]="zoomedInData"
        [palette]="palette" [asTable]="asTable" [chartTitle]="chartTitle"></ia-similarity-chart>
</div>
