<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Times</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript"><!--

$(function(){
    $(".date").each(function(){
        $(this).find(".picker").datepicker({
            minDate: new Date({{ config.MIN_DATE.strftime("%Y,%-m-1,%-d") }}),
            maxDate: new Date({{ config.MAX_DATE.strftime("%Y,%-m-1,%-d") }}),
            changeMonth: true,
            changeYear: false,
            altField: $(this).find("input"),
            dateFormat: "yy-mm-dd",
            defaultDate: $(this).find("input").val()
        });
    });

    $(".slider").each(function(){
        var $slider = $(this).find(".picker"), $amount = $(this).find("input");
        var update = function(){
            $amount.val(
                $slider.slider("values",0) + "-" + $slider.slider("values",1)
            );
        }
        $slider.slider({
            range: true,
            min: 0,
            max: 100,
            values: [0,100],
            slide: update
        });
        update();
    });

});

//-->
</script>
</head>

<body>
<form method="post" action="{{ url_for('times2csv.stream_csv') }}">
    <table>
        <tbody>
            <tr>
                <td>Timespan</td>
                <td class="date"><div class="picker"></div><input type="text" name="start" value="{{ config.MIN_DATE.strftime('%Y-%m-%d') }}" hidden></td>
                <td class="date"><div class="picker"></div><input type="text" name="end" value="{{ config.MAX_DATE.strftime('%Y-%m-%d') }}" hidden></td>
            </tr>

            {%- for field in fields %}
            <tr>
                <td>
                    <input type="checkbox" id="{{ field.name }}" name="field:{{ field.name }}" checked><label for="{{ field.name }}">{{ field.name }}</label>
                </td>
                {%- if column.filter and column.filter.__class__.__name__ == "MinMaxFilter" %}
                <td class="slider" colspan="2"><input type="text" name="filter:{{ column.title }}" readonly style="border:0"><div class="picker"></div></td>
                {%- else %}
                <td colspan="2">&nbsp;</td>
                {%- endif %}
            </tr>
            {%- endfor %}
            <tr>
                <td colspan="3"><input type="submit" value="Download"></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>
