<section class="section">
    <h1 class="title">Downloads</h1>

    <p-table #dt *ngIf="downloads && corpora" [value]="downloads" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div>
                Downloads
            </div>
        </ng-template>
        <ng-template *ngIf="downloads.length" pTemplate="summary">
            <button class="button is-primary" type="reset" (click)="deleteAllDownloads()">
                <span class="icon"><fa-icon [icon]="faTrash"></fa-icon></span>
                <span>Delete all downloads</span>
            </button>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="2">Timestamp</th>
                <th rowspan="2">Type</th>
                <th>Corpus</th>
                <th rowspan="2">Query</th>
                <th rowspan="2">Filters</th>
                <th rowspan="2">Field(s)</th>
                <th rowspan="2">Status</th>
                <th rowspan="2">Download</th>
                <th rowspan="2">Delete</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter field="corpus" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [options]="corpusMenuItems" [style]="{'width':'100%'}" placeholder="Any"
                                [ngModel]="value" (onChange)="filter($event.value)">
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-download>
            <tr>
                <td>{{download.started | date:'medium'}}</td>
                <td>{{downloadType(download.download_type)}}</td>
                <td>{{corpusTitle(download.corpus)}}</td>
                <td>{{queryText(download)}}</td>
                <td ia-query-filters [queryModel]="getQueryModel(download)"></td>
                <td>{{getFields(download)}}</td>
                <td>{{download.status}}</td>
                <td>
                    <a *ngIf="download.status === 'done'" role="button" tabindex="0" (click)="itemToDownload = download"
                        (keydown.enter)="itemToDownload = download">
                        <span class="icon">
                            <fa-icon [icon]="faDownload"></fa-icon>
                        </span>
                        <span>download file</span>
                    </a>
                </td>
                <td>
                    <a *ngIf="download.status === 'done' || download.status ==='error'" role="button" tabindex="0"
                        (click)="deleteDownload(download)"
                        (keydown.enter)="deleteDownload(download)">
                        <span class="icon">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </span>
                        <span>delete download</span>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</section>

<ia-download-options [download]="itemToDownload" (cancel)="itemToDownload = undefined"
    (confirm)="downloadFile(itemToDownload, $event)"></ia-download-options>
