//
// This partial defines a primeng theme using the same variables as used
// to theme Bulma.
//
@import "_utilities";

$fontFamily: $family-primary;
$fontSize: $size-normal;
$borderRadius: $radius;
//Header
$headerBorderWidth: $borderWidth;
$headerBorderColor: $primary;
$headerBgColor: $primary;
$headerTextColor: $primary-invert;
$headerFontWeight: bold;
$headerIconTextColor: $primary-invert;

//Content
$contentBorderWidth: $borderWidth;
$contentBorderColor: $border;
$contentBgColor: $background;
$contentTextColor: $text;

//Default State
$stateDefaultBorderWidth: $borderWidth;
$stateDefaultBorderColor: $link;
$stateDefaultBgColor: $link-invert;
$stateDefaultTextColor: $link;

//Active State
$stateActiveBorderColor: $primary;
$stateActiveBgColor: $primary;
$stateActiveTextColor: $primary-invert;

//Focus State
$stateFocusBorderColor: $primary;
$stateFocusBgColor: $primary-invert;
$stateFocusTextColor: $primary;

//Error State
$stateErrorBorderColor: $danger;
$stateErrorBgColor: $danger;
$stateErrorTextColor: $danger-invert;

//Hover State
$stateHoverBorderColor: $contrast-primary-color;
$stateHoverBgColor: $contrast-primary-color;
$stateHoverTextColor: $primary-invert;

//Forms
$inputBgColor: $text-invert;
$inputTextColor: $text;
$invalidInputBorderColor: $danger;
$inputGroupTextColor: $text;

@import "~primeng/resources/themes/nova/theme.css";

.p-button {
    @extend .button;

    &:hover {
        background: $contrast-primary-color;
        border-color: $contrast-primary-color;
        color: $contrast-primary-color;
    }
}

.p-inputtext {
    @extend .input;
    border-color: $border;
}

.p-buttonset .p-button {
    margin-right: 5px;
    margin-bottom: 5px;

    &:hover {
        background: $contrast-primary-color;
        border-color: $contrast-primary-color;
        color: $contrast-primary-color;
    }
}

.p-slider {
    .p-slider-handle {
        cursor: pointer;
    }

    &.p-slider-horizontal .p-slider-range {
        border: none;
        height: calc(100% + 2px);
        margin: -1px 0;
        background-color: $primary
    }
}

.highlight {
    background: $stateHighlightBgColor;
    color: $stateHighlightTextColor;
}

.p-widget-header {
    background-color: $contrast-primary-color;
    color: $text-primary-color;
    font-weight: bold;
}

.p-inputtext {
    font-family: inherit !important;

    &:hover {
        border-color: rgb(184, 184, 184) !important;
    }
}

.p-chips {
    width: 100%;

    .p-chips-token {
        background-color: $stateHighlightBgColor !important;
        color: $stateHighlightTextColor !important;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }

    input {
        font-family: inherit !important;

    }

}


body {
    .p-multiselect {
        max-width: 100%
    }

    .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
        &.p-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
        }

        &:hover {
            background-color: $primary;
            color: $primary-invert;
        }
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
        background-color: $stateHighlightBgColor;
        color: $stateHighlightTextColor;
        &:hover {
            background-color: $primary;
            color: $primary-invert;
        }
    }

    .p-checkbox .p-checkbox-box.p-highlight {
        background-color: $primary;
        color: $primary-invert;
        border-color: $primary;
        &:hover {
            background-color: $primary;
        }
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: $contrast-primary-color;
        background: $contrast-primary-color;
    }

    .p-component {
        font-family: inherit !important;
    }

    .p-dropdown-label {
        box-shadow: none !important;
    }

    .p-dropdown {
        // make borders match ia-dropdown component
        border-color: rgb(218, 218, 218);

        &:hover {
            border-color: rgb(184, 184, 184) !important;
        }
    }
}

.is-round{
    border-radius: 24px !important;
}
