//
//
// This partial defines all the shared variables and mixins which can
// be re-used throughout the application. *Do not include actual
// selectors*, those should be either in the component's stylesheet
// or in the global styles.scss!
//
//

$theme-color: #303F9F;
$theme-font: 'Open Sans', sans-serif;
$brand-font: 'Zilla Slab', serif;

@forward 'bulma/sass/utilities/initial-variables' with (
    $family-sans-serif: $theme-font,
);
@forward 'bulma/sass/utilities/derived-variables' with (
    $primary: $theme-color,
    $link: $theme-color,
);

@forward "bulma/sass/utilities/mixins";
@use "bulma/sass/utilities/mixins";

$entity-person:  #303F9F;
$entity-location: #4e8f2d;
$entity-organization: #efb71d;
$entity-miscellaneous: #ee5986;

// based on the Bulma loader

%content-loader {
    min-height: 10em;
    opacity: 0.5;
    pointer-events: none;
    position: relative;

    &:after {
        @include mixins.loader;
        border-color: transparent transparent $theme-color $theme-color !important;
        border-style: solid;
        border-width: 0.25em;
        height: 5em;
        left: calc(50% - 2.5em);
        top: calc(50% - 2.5em);
        width: 5em;
        position: absolute;
    }
}
