@import "_utilities";
@import "~bulma/bulma.sass";
@import "_primeng";
@import "~balloon-css";
@import "~bulma-switch";

[data-balloon]:after {
    border-radius: 0;
}

.container.is-readable {
    max-width: 1024px !important;
}

.buttons {
    .button {
        margin-bottom: .5rem;
        margin-right: .5rem;
    }
}
