@use "balloon-css/src/balloon";
@use "quill/dist/quill.snow";
@use "utilities";
@use "bulma/bulma";


@font-face {
    font-family: "Open Sans";
    src: url('/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('/assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Regular.ttf') format('opentype');
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Italic.ttf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Bold.ttf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-BoldItalic.ttf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Light.ttf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-LightItalic.ttf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Medium.ttf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-MediumItalic.ttf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-SemiBold.ttf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-SemiBoldItalic.ttf') format('opentype');
    font-weight: 600;
    font-style: italic;
}


[data-balloon]:after {
    border-radius: 0;
}

.container.is-readable {
    max-width: 1024px !important;
}

.search-section {
    background: var(--bulma-body-background-color);
    position: sticky;
    top: 0;
    transition: box-shadow 0.2s;
    z-index: 500;

    // slightly less padding because the search entry field needs a separate section to be allowed to be sticky
    // (or at least meaningfully sticky)
    padding-top: utilities.$size-6;
    padding-bottom: utilities.$size-6;

    &.is-scrolled-down {
        box-shadow: var(--bulma-shadow);
    }

    +section {
        padding-top: utilities.$size-6;
    }

    .search-controls {
        align-items: flex-start;
    }
}

.tabs {
    white-space: normal;
}

.is-loading:not(.button) {
    @extend %content-loader;
}

.tag-dropdown .button {
    align-items: center;
    border-radius: 3px;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}

a.dropdown-item:focus {
    @extend a, .dropdown-item, :hover;
}

a.dropdown-item[disabled] {
    color: utilities.$grey;
    cursor: not-allowed;

    &:hover {
        background-color: inherit;
        color: utilities.$grey;
    }
}

@mixin mark-entity($color) {
    background-color: rgb(from $color r g b /.2);
    border-bottom: .2em solid;
    border-color: $color;
    white-space: nowrap;

    .entity-icon,
    &.entity-icon {
        padding-left: .3em;
        padding-right: .3em;
        color: $color;
    }
}

.entity-person {
    @include mark-entity(utilities.$entity-person);
}

.entity-location {
    @include mark-entity(utilities.$entity-location);
}

.entity-organization {
    @include mark-entity(utilities.$entity-organization);
}

.entity-miscellaneous {
    @include mark-entity(utilities.$entity-miscellaneous);
}

.is-disabled {
    @extend [disabled];
}

.highlight {
    background-color: var(--bulma-primary-soft);
    color: var(--bulma-primary-soft-invert);
}

.input-feedback {
    margin-top: 0.5rem;
}

.content {
    a:not(.button) {
        text-decoration: underline;
    }
}


table.spreadsheet {
    border: 2px solid var(--bulma-border);

    thead th,
    tbody td,
    tbody th {
        border-width: 1px;
    }

    th {
        background-color: var(--bulma-body-background-color);
    }

    tr:hover {
        background-color: inherit;
    }
}

.breadcrumb {
    li:not(.is-active) > a {
        text-decoration: underline;
    }

    li.is-active > a {
        color: var(--bulma-text);
    }
}

// do not use extra-bold weight for titles

.title {
    --bulma-title-weight: var(--bulma-weight-bold);
}
.content {
    --bulma-content-heading-weight: var(--bulma-weight-bold);
}

// restore some rules from older bulma versions for compatibility

.block,
.message,
.title,
.box,
.field,
.content {
    @include utilities.block();
}

.heading {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

:root {
    --bulma-shadow: 0 2px 3px hsla(var(--bulma-shadow-h), var(--bulma-shadow-s), var(--bulma-shadow-l), 0.1),
        0 0 0 1px hsla(var(--bulma-shadow-h), var(--bulma-shadow-s), var(--bulma-shadow-l), 0.1);
}

.modal-card .modal-card-body:last-child {
    border-end-start-radius: var(--bulma-modal-card-foot-radius);
    border-end-end-radius: var(--bulma-modal-card-foot-radius);
}
// reset focus styling for accessibility
// bulma's customisation makes focus rings invisible on blue background

a,
button {
    &:focus-visible {
        outline: auto !important;
        border: inherit !important;
    }
}


// primeNG

.field.has-addons .control:last-child {
    .p-multiselect {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }
}

// vega

.vega-bindings {
    @extend .columns;
    @extend .is-multiline;

    .vega-bind {
        @extend .field;
        @extend .column;
        @extend .is-4;

        .vega-bind-name {
            @extend .label;
        }

        select {
            @extend .select;
        }
    }
}

// quill

.ql-container {
    font-family: inherit;
    font-size: inherit;

    .ql-editor {
        @extend .content;

        ol, ul {
            padding-left: 0em; // so spacing is not added in both margin AND padding
        }
    }
}
