@import "_utilities";
@import "bulma/bulma.sass";
@import "_primeng";
@import "balloon-css";
@import "bulma-switch";

[data-balloon]:after {
    border-radius: 0;
}

.container.is-readable {
    max-width: 1024px !important;
}

.search-section {
    background: rgba(255, 255, 255, 1);
    position: sticky;
    top: 0;
    transition: box-shadow 0.2s;
    z-index: 500;

    // slightly less padding because the search entry field needs a separate section to be allowed to be sticky
    // (or at least meaningfully sticky)
    padding-top: $spacing;
    padding-bottom: $spacing;

    &.is-scrolled-down {
        box-shadow: $boxShadow;
    }

    + section {
        padding-top: $spacing;
    }

    .search-controls {
        align-items: flex-start;
    }
}

.tabs {
    white-space: normal;
}

.is-loading:not(.button) {
    @extend %content-loader;
}

.tag-dropdown .button {
	align-items: center;
	border-radius: 3px;
	display: inline-flex;
	font-size: 0.75rem;
	height: 2em;
	justify-content: center;
	line-height: 1.5;
	padding-left: 0.75em;
	padding-right: 0.75em;
	white-space: nowrap;
}

a.dropdown-item:focus {
    @extend a, .dropdown-item, :hover;
}

a.dropdown-item[disabled] {
    color: $grey;
    cursor: not-allowed;

    &:hover {
        background-color: inherit;
        color: $grey;
    }
}

span[class^='entity'] {
    padding-left: .4em;
}

.entity-per {
    background-color: $entity-person;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5px 50%, 0% 0%);
}
.entity-loc {
    background-color: $entity-location;
    clip-path: polygon(5px 0%, 100% 0%, 100% 100%, 5px 100%, 0% 50%);
}
.entity-org {
    background-color: $entity-organization;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5px 100%);
}
.entity-mis {
    background-color: $entity-miscellaneous;
    clip-path: polygon(5px 0, 100% 0%, 100% 100%, 0% 100%);
}
