<div class="modal" [class.is-active]="download">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p>Download file</p>
        </header>
        <section class="modal-card-body">
            <form>
                <div class="field">
                    <div class="control">
                        <label class="label">File encoding</label>
                        <label class="radio" *ngFor="let enc of encodingOptions">
                            <input type="radio" name="encoding" (click)="encoding=enc" [checked]="encoding==enc">
                            {{enc}}
                        </label>
                        <p class="help">
                            We recommend using utf-8 encoding for most applications, including Python and R.
                            For importing files in Microsoft Excel, we recommend utf-16.
                        </p>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" (click)="confirmDownload()">
                Download
            </button>
            <button class="button" (click)="cancelDownload()">
                Cancel
            </button>
        </footer>
    </div>
</div>
