<div class="tabs is-boxed">
    <ul role="tablist" aria-label="select content to display">
        <li *ngFor="let tab of tabs" [class.is-active]="activeTab === tab.id">
            <a #tabLink id="{{tabLinkId(tab.id)}}" role="tab"
                [attr.tabindex]="activeTab === tab.id ? 0 : -1"
                [attr.aria-selected]="activeTab === tab.id"
                [attr.aria-controls]="tab.id"
                (click)="selectTab(tab)"
                (keydown.ArrowLeft)="cycleTab($event)" (keydown.ArrowRight)="cycleTab($event)">
                <span class="icon" *ngIf="tab.icon"><fa-icon [icon]="tab.icon" aria-hidden="true"></fa-icon></span>
                <span>{{tab.label}}</span>
            </a>
        </li>
    </ul>
</div>

<div *ngFor="let panel of tabPanels" [attr.id]="panel.id" role="tabpanel" tabindex="0" [hidden]="panel.id !== activeTab">
    <ng-container *ngIf="panel.id === activeTab" [ngTemplateOutlet]="panel.templateRef">
    </ng-container>
</div>
