.wrapper {
    display: grid;
    grid-gap: 10px;
}

.caption {
    grid-row: 1;
}

.table {
    grid-row: 2
}

.button {
    grid-row: 3;
    max-width: 60%;
}

.current {
    grid-column: 1
}

.new {
    grid-column: 2
}
