$borderWidth: 1px;

$disabledOpacity: 0.35;

//Highlight State
$stateHighlightBorderColor: #fed22f;
$stateHighlightBgColor: #ffe45c;
$stateHighlightTextColor: #363636;

$boxShadowHover: 0px 5px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px $primary;
