<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox" [checked]="searchHistoryEnabled$ | async"
                (change)="emitChange($event.target.checked)">
            Save my search history
        </label>

        <p class="help">

        </p>
    </div>

    <details class="content help">
        <summary>More information</summary>

        <p>
            Saving your search history allows you to look up earlier queries.
            You can view your saved history on the <a href="/search-history">search history page</a>.
            It can be used to quickly get back to earlier queries, or to log your research process.
        </p>
        <p>
            Search histories are stored on the I-analyzer server.
            They are not shared with others, but developers may use search history
            statistics to assess the level of interest in different corpora.
            See our <a href="/privacy">privacy statement</a> for more information.
        </p>
        <p>
            You can change this setting at any time. Doing so will not delete
            your existing search history.
        </p>
    </details>
</div>
