<div class="block">
    <button class="button" [class.is-loading]="isLoading" (click)="onInitialRequest()">Load full data</button>
</div>


<div class="modal" [class.is-active]="showModal">
    <div class="modal-background" (click)="showModal = false"></div>
    <div class=" modal-content modal-card">
        <header class="modal-card-head">
            <h2 class="modal-card-title">Request full data</h2>
            <button class="delete" aria-label="close" (click)="showModal = false"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <p>
                    This visualisation is based on a sample of the documents in your search results.
                    These approximations are usually sufficient for exploring the corpus.
                </p>

                <p>
                    However, we also offer the option to request the data
                    based on <i>all</i> the documents in your search results.
                    When your results are ready, you will be able to download
                    the data as a csv file.
                </p>

                <p>
                    The results may take a long time to compute.
                    If you confirm that you want the full data,
                    our server will start to compute it for you,
                    and you will receive an email when your file is complete.
                    The email will include a link to download the data.
                    You do not need to keep this window open.
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-right">
                <button class="button is-primary" (click)="onConfirm()">
                    <span class="icon"><fa-icon [icon]="faEnvelope"></fa-icon></span>
                    <span>Send me the full version</span>
                </button>
                <button class="button">Cancel</button>
            </div>
        </footer>
    </div>
</div>
