 @import "../../shared";

.navbar {
    background-color: $primary;
  }


.navbar-item{ 
    color: $text-primary-color;
    &:hover{
        background-color: $default-primary-color;
        color: $text-primary-color;
    }
    
    &.is-active, .has-dropdown.is-active{
        background-color: $default-primary-color;
        color: $text-primary-color;
    }
}

.navbar-item.has-dropdown:hover .navbar-link, a.navbar-item.is-active{
    background-color: $default-primary-color;
    color: $text-primary-color;
}

.navbar-link{
    color: $text-primary-color;
    &::after {
        border: 1px solid $text-primary-color;
        border-right: 0;
        border-top: 0;
        content: " ";
        display: block;
        height: 0.5em;
        pointer-events: none;
        position: absolute;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 0.5em;
        margin-top: -0.375em;
        right: 1.125em;
        top: 50%;
    }
}

.panel-icon {
    color: $text-primary-color;
}

// Makes the user dropdown in the same theme as the rest of the application.

::ng-deep .menu-dropdown {
    &.ui-widget-content {
        border: 1px solid #dbdbdb;
        background-color: $primary;
        color: $text-primary-color;
    }

    .ui-menuitem .ui-menuitem-link {
        color: $text-primary-color;
    }
}

.container {
    max-width: 2000px;
    margin-left: 1em;
    margin-right: 1em;
}