<footer class="footer">
    <div class="container is-readable">
        <div class="columns">
            <div class="column">
                <p>
                    <strong> I-Analyzer is developed by </strong>
                </p>
                <a href="https://cdh.uu.nl/centre-for-digital-humanities/research-software-lab/" target="_blank">
                    <img src="assets/UU-CDH_logo_EN_def_UU_CDH_logo_EN_yellowwhite.jpg" alt="Centre for Digital Humanities, Utrecht University" width="400">
                </a>
            </div>
        <div *ngIf="logos.length" class="column">
            <p>
                <strong> With support from </strong>
            </p>
            <div class="columns">
                <div *ngFor="let logo of logos" class="column">
                    <a [href]="logo.url" target="_blank">
                        <img [src]="logo.path" [alt]="logo.alt" [width]="logo.width">
                    </a>
                </div>
            </div>
        </div>
        </div>
        <div class="block">
            <a href="https://github.com/UUDigitalHumanitieslab/I-analyzer">Source code</a> (MIT license)
        </div>
    </div>
</footer>
