<div [class.is-hidden]="asTable">
    <div class="block">
        <div class="field">
            <div class="control">
                <label class="label">Show as:</label>
                <label class="radio" *ngFor="let style of ['line', 'stream', 'bar']">
                    <input type="radio" [checked]="graphStyle.value==style" (click)="graphStyle.next(style)" (keydown.enter)="graphStyle.next(style)">
                    {{style}}
                </label>
            </div>
        </div>
        <div class="field" *ngIf="graphStyle.value==='bar'">
            <div class="control">
                <label class="label">Time interval:</label>
                <ia-time-interval-slider [labels]="timeIntervals" (currentIndex)="zoomTimeInterval($event)"></ia-time-interval-slider>
            </div>
        </div>
    </div>

    <canvas id="chart"></canvas>
</div>

<div class="block" *ngIf="asTable && terms.length">
    <ia-freqtable  [headers]="tableHeaders" [data]="tableData" [defaultSort]="'similarity'" [name]="tableFileName">
    </ia-freqtable>
</div>
