<section class="section">
        <div class="columns is-centered">    
            <div *ngIf="!reset_succeeded && !error">
                <form (ngSubmit)="reset(resetForm)" class="container is-readable" #resetForm="ngForm">
                    <div class="container is-login">
    
                        <div class="field">
                            <label for="email">Password</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="password" ngModel #password="ngModel" required
                                    minlength="6" />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                            <div class="notification is-warning" *ngIf="password.errors?.required && (password.dirty || password.touched)">
                                Password is required.
                            </div>
                            <div class="notification is-warning" *ngIf="password.errors?.minlength">
                                Password must be at least 6 characters long.
                            </div>
                        </div>
    
                        <div class="field">
                            <label for="email">Confirm password</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="passwordconfirm" ngModel #passwordconfirm="ngModel"
                                    required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                            <div class="notification is-warning" *ngIf="passwordconfirm.errors?.required && (passwordconfirm.dirty || passwordconfirm.touched)">
                                Password confirmation is required.
                            </div>
    
                            <div class="notification is-warning" *ngIf=" (signupForm.value.password !=  signupForm.value.passwordconfirm) &&  ( passwordconfirm.touched)">
                                Passwords do not match.
                            </div>
                        </div>

                        <div class="field">
                            <p class="control">
                                <button class="button is-primary" [disabled]="!resetForm.form.valid" [ngClass]="{'is-loading':isLoading}">Reset password</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
    