<ng-container *ngIf="totalResults.result$ | async as total">
    <p class="block">{{total}} results.</p>

    <p class="block">
        You can download a CSV file with your search results. View the
        <a [routerLink]="['/manual', 'download']">manual</a>
        for more information.
    </p>

    <div class="message" *ngIf="downloadLimit < total">
        <p class="message-body">
            Only the first {{downloadLimit}} results will be included in the file.
        </p>
    </div>
    <form>
        <div class="field">
            <label class="label">Fields</label>
            <div class="control">
                <p-multiSelect [options]="availableCsvFields"
                    [(ngModel)]="selectedCsvFields"
                    optionLabel="displayName"
                    placeholder="select fields"
                    name="searchFields">
                </p-multiSelect>
            </div>
            <p class="help">
                Select which fields should be included as columns in the CSV file.
            </p>
        </div>

        <div class="field">
            <label class="label">
                Sort results
            </label>
            <ia-search-sorting [pageResults]="resultsConfig"></ia-search-sorting>
        </div>

        <!-- TODO: show this option when query-in-context download is fixed -->
        <div class="field" *ngIf="queryModel.queryText" hidden>
            <div role="group" class="control">
                <legend class="label">
                    Query in context
                </legend>
                <label>
                    <input type="checkbox"
                        [checked]="(resultsConfig.highlight$ | async) !== undefined"
                        (change)="onHighlightChange($event)">
                    Include "query in context" snippets
                </label>
            </div>
            <p class="help">
                You can include extra columns with snippets of text, showing the context
                in which your search query occurred. View the manual for more information.
            </p>
        </div>

        <ng-container *ngIf="(canDownloadDirectly$ | async); else longDownloadSubmit">
            <div class="field">
                <div role="group" class="control">
                    <legend class="label">File encoding</legend>
                    <label class="radio" *ngFor="let encodingOption of encodingOptions">
                        <input type="radio" name="encoding" (click)="encoding=encodingOption" [checked]="encoding===encodingOption">
                        {{encodingOption}}
                    </label>
                </div>
                <p class="help">
                    We recommend using utf-8 encoding for most applications, including Python and R.
                    For importing files in Microsoft Excel, we recommend utf-16.
                </p>
            </div>
            <div class="block">
                <button class="button is-primary" [ngClass]="{'is-loading':isDownloading}"
                    type="submit"
                    (click)="confirmDirectDownload()" [disabled]="total == 0">
                    <span class="icon">
                        <fa-icon [icon]="actionIcons.download" aria-hidden="true"></fa-icon>
                    </span>
                    <span>Download</span>
                </button>
            </div>
        </ng-container>
        <ng-template #longDownloadSubmit>
            <div class="message">
                <p class="message-body">
                    Your download contains too many documents to be immediately available.
                    You can request the download now, and receive an email when it's
                    ready.
                </p>
            </div>
            <div class="block">
                <button class="button is-primary" type="submit" (click)="longDownload()">
                    <span class="icon">
                        <fa-icon [icon]="actionIcons.wait"></fa-icon>
                    </span>
                    <span>Request download</span>
                </button>
            </div>
        </ng-template>
    </form>
</ng-container>
