<div class="block">
    <p class=notification *ngIf=showHint>
        <b>Drag to zoom, double click to unzoom</b>
    </p>
</div>

<div class="block">
    <ia-barchart-options
        [queryText]="queryModel.queryText"
        [showTokenCountOption]="data.totalTokenCountAvailable$ | async"
        [isLoading]="isLoading"
        [frequencyMeasure]="frequencyMeasure"
        [freqTable]="asTable" [histogram]="true"
        (chartParameters)="onOptionChange($event)">
    </ia-barchart-options>
</div>

<div class="block" [ngClass]="{ 'is-hidden': asTable, 'is-loading': isLoading}">
    <canvas id="barchart" width="400" height="200" aria-label="histogram" role="img"></canvas>
</div>

<div class="block" *ngIf="asTable" [class.is-loading]="isLoading">
    <ia-freqtable [headers]="tableHeaders" [data]="tableData" [defaultSort]="defaultSort"
        [name]="visualizedField ? visualizedField.name : ''" [requiredColumn]="currentValueKey">
    </ia-freqtable>
</div>

<div class="message is-warning" *ngIf="!isLoading && data.documentLimitExceeded && frequencyMeasure === 'tokens'">
    <div class="message-body">
        <div class="block">
            The results for your search include too many documents to count all matches.
            Only a sample of the first {{percentageDocumentsSearched}}% of documents for each bin are analyzed;
            the matches in other documents are extrapolated based on the sample.
        </div>

        <ia-full-data-button (requestFullData)="requestFullData()"></ia-full-data-button>
    </div>
</div>
