<div class="block">
    <p class=notification *ngIf=showHint>
        <b>Drag to zoom, double click to unzoom</b>
    </p>
</div>

<div class="block">
    <ia-barchart-options
        [queries]="queries" [showTokenCountOption]="totalTokenCountAvailable" [isLoading]="isLoading.value"
        [frequencyMeasure]="frequencyMeasure"
        (options)="onOptionChange($event)" (newQuery)="addSeries($event)"  (clearQueries)="clearAddedQueries()">
    </ia-barchart-options>
</div>

<div class="block" [ngClass]="{ 'is-hidden': asTable }">
    <canvas id="barchart" width="400" height="200" aria-label="histogram" role="img"></canvas>
</div>

<div class="block" *ngIf="asTable">
    <ia-freqtable [headers]="tableHeaders" [data]="tableData" [defaultSort]="defaultSort"
        [name]="visualizedField ? visualizedField.name : ''" [requiredColumn]="currentValueKey">
    </ia-freqtable>
</div>

<div class="message is-warning" *ngIf="documentLimitExceeded && frequencyMeasure == 'tokens'">
    <div class="message-body">
        The results for your search include too many documents to count all matches.
        Only the first {{percentageDocumentsSearched}}% of documents for each bin are analyzed;
        the rest are assumed to have only one match for your query.
    </div>
</div>
