@import "barchart.component";

div.tooltip {
    line-height: 1;
    font-size: 12px;
    padding: 12px;
    background: rgba(0, 0, 0, 1);
    opacity: .8;
    color: #fff;
    border-radius: 2px;
    position: relative;
    visibility: hidden;
    width: fit-content;
}

  /* Creates a small triangle extender for the tooltip
  Not currently working */
div.tooltip::after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    opacity: .8;
  }

.form-check-label {
    margin-left: 5px;
}

label[disabled], label:disabled {
    text-decoration: line-through;
}
