<div class="block" *ngIf="frequencyMeasure == 'tokens'">
    <i>Searching in <strong>{{searchFields}}</strong></i>
</div>

<div class="block">
    <p class=notification *ngIf=showHint>
        <b>Drag to zoom, double click to unzoom</b>
    </p>
</div>

<div class="block">
    <ia-barchart-options
        [queryText]="queryText" [showTokenCountOption]="totalTokenCountAvailable" [isLoading]="isLoading.value"
        [frequencyMeasure]="frequencyMeasure"
        (normalizer)="onOptionChange($event)" (queriesChanged)="updateQueries($event)" (clearQueries)="clearAddedQueries()">
    </ia-barchart-options>
</div>

<div class="block" [ngClass]="{ 'is-hidden': asTable }">
    <canvas id="barchart" width="400" height="200" aria-label="timeline" role="img"></canvas>
</div>

<div class="block" *ngIf="asTable">
    <ia-freqtable [headers]="tableHeaders" [data]="tableData" [defaultSort]="'date'" [name]="visualizedField.name"
        [requiredColumn]="currentValueKey">
    </ia-freqtable>
</div>

<div class="message is-warning" *ngIf="!isLoading.value && documentLimitExceeded && frequencyMeasure == 'tokens'">
    <div class="message-body">
        The results for your search include too many documents to count all matches.
        Only the first {{percentageDocumentsSearched}}% of documents for each bin are analyzed;
        the rest are assumed to have only one match for your query.
    </div>
</div>
