<section class="section">
    <p-table #dt *ngIf="queries" [value]="queries" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div style="text-align: left">        
                Search History
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Timestamp</th>
                <th>Query</th>
                <th>Filters</th>
                <th>Results</th>
                <th>Corpus</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <p-dropdown [options]="corpora" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, 'corpusName', 'equals')"></p-dropdown>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-query>
            <tr (click)="returnToSavedQuery(query)">
                <td>{{query.started}}</td>
                <td>{{query.query | formatQueryText }}</td>
                <td ia-query-filters [queryModel]="query.query"></td>
                <td>{{query.transferred}}</td>
                <td>{{query.corpusName}}</td>
            </tr>
        </ng-template>
    </p-table>            
</section>
