@import "../../_utilities";

table {
	margin-left: 100px;
	margin-bottom: 50px;
}

th, td {
	padding-right: 10px;
	padding-left: 10px;
}

th {
    white-space: nowrap;
}

tr {
	border: 1px solid black;
	border-collapse: separate;
}

tr:hover {
	background-color: $contrast-primary-color;
	cursor: pointer;
	color: $text-primary-color;
}
