Flask
Flask-SQLAlchemy
Flask-Admin
Flask-Login
Flask-Migrate
Flask-SeaSurf
Flask-Mail
Werkzeug
WTForms
mysqlclient
elasticsearch
beautifulsoup4
lxml
pytest
coverage
requests
scikit-learn
numpy
responses
pypdf2